<div class="frow-container" style="padding-top: 2em; padding-bottom: 2em;">
  <mat-card>
    <div>
      <div class="frow row-start" style="padding-bottom: 1em;">
        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 ">
          <h2 class="mat-h2">SIM por defecto</h2>
        </div>
        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 ">
          <button mat-raised-button color="accent" style="float: right;">Guardar</button>
        </div>
      </div>
      <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">SKU *</mat-label>
        <input matInput placeholder="" [(ngModel)]="prop.defaultSIM">
        <button mat-icon-button matSuffix matTooltip="Seleccionar SIM" aria-label="see" (click)="openCatalogDialog()">
          <mat-icon>visibility</mat-icon>
        </button>
        <!-- <mat-error *ngIf="formGroupId.hasError('required')" style="padding-bottom: 5px;">
              Agrupador es requerido
            </mat-error>
            <mat-error *ngIf="formGroupId.hasError('grouperValidator')" style="padding-bottom: 5px;">
              Agrupador no es valido
            </mat-error> -->
      </mat-form-field>
    </div>
  </mat-card>

</div>
<!-- <mat-divider></mat-divider> -->
<div class="frow-container" style="padding-top: 2em; padding-bottom: 2em;">
  <tlbo-sku-excluded></tlbo-sku-excluded>




</div>