<h2 mat-dialog-title>{{ (id_view_action.value != 0 ? 'Editar ' : 'Nueva ') }} Accion</h2>
<form [formGroup]="actionForm" (ngSubmit)="save()">
  <mat-dialog-content [style.fontSize.px]="12">
    <div class="frow row-start">  
      <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
        <mat-form-field appearance="outline" class="fluid">
          <mat-label [style.fontSize.px]="14">Nombre</mat-label>
          <input matInput formControlName="name" placeholder="">
          <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
            Nombre es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
            Supero 254 maximo de caracteres 
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">  
        <mat-form-field appearance="outline" class="fluid" style="margin-left: 5px;">
            <mat-label [style.fontSize.px]="14">Codigo</mat-label>
            <input matInput formControlName="code" placeholder="">
            <mat-error *ngIf="code.hasError('required')" style="padding-bottom: 5px;">
              Codigo es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="code.hasError('maxlength')" style="padding-bottom: 5px;">
              Supero 254 maximo de caracteres 
            </mat-error>
        </mat-form-field>
      </div>  
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-flat-button color="accent" [disabled]="actionForm.invalid">{{ id_view_action.value != 0 ? 'Actualizar': 'Guardar' }}</button>
    <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
  </mat-dialog-actions>
</form>
