<div mat-dialog-title style="margin-bottom: 1px;">
    <div class="frow row-start items-stretch">
        <div class="col-sm-1-2 col-md-1-2">
            <h3 class="mat-h3" style="margin-bottom: 5px;">Carga de imagenes para SKU: <strong>{{data.sku}}</strong>
            </h3>
        </div>
        <div class="col-sm-1-2 col-md-1-2" style="text-align: right;">
            <button *ngIf="imageProps" mat-icon-button (click)="loadImages()" [disabled]="loading"
                matTooltip="Añadir una nueva imagen">
                <mat-icon>add_photo_alternate</mat-icon>
            </button>
            <input *ngIf="imageProps" type="file" id="fileUpload" name="fileUpload"
                accept="{{imageProps?.dimensions?.types}}" style="display:none;" multiple
                (change)="inputChange($event.target)" />
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div *ngIf="imageProps">
        <div class="frow row-start items-stretch">
            <div class="col-sm-1-1 col-md-1-1">
                <div style="padding: 5px 0;">
                    <ul style="list-style: none; font-size: 14px; color:#e24646" [style.fontSize.px]="12">
                        <li> Correlativos se reemplazaran: <strong>{{ data.correlatives.toString() }}</strong></li>
                        <li>Correlativo maximo: <strong>{{ maxCorrelative }}</strong></li>
                        <li> Dimesiones: <strong>{{getComparisionImg() == 'any' ? "Todas" : "Absolutas"}}
                                [{{getDimensions()}}]</strong></li>
                        <li>Tamaño maximo: {{getMaxSize()}}</li>

                    </ul>
                </div>
            </div>
        </div>
        <div style="min-height: 150px;">
            <table class="full-width-table mat-table" style="padding-bottom: 1em;">
                <thead>
                    <tr class="mat-header-row" style="background-color: #eceaea; height: 2em!important;">
                        <th class="mat-header-cell"></th>
                        <th class="mat-header-cell">Correlativo</th>
                        <th class="mat-header-cell">Dimensiones (Ancho/Alto)</th>
                        <th class="mat-header-cell">Tamaño</th>
                        <th class="mat-header-cell">Tipo</th>
                        <th class="mat-header-cell">Imagenes ({{ validateMaxUpload() }})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of filesData" class="mat-row selected-row">
                        <td class="mat-cell">
                            <img [src]="element.metadata.imageResource" alt="" height="32" width="32">
                        </td>
                        <td class="mat-cell" [ngClass]="{'file-error': element.errors.status}"
                            matTooltip="{{ (!element.errors.status ? element.metadata.name + element.metadata.correlative : '') }}">
                            <div style="padding: 2px 0">
                                <mat-form-field [ngClass]="{'hide': element.inProgress}" style="width:5em;">
                                    <input #correlative matInput placeholder=""
                                        [ngClass]="{'hide': element.completeUpload}" min="0"
                                        value="{{element.metadata.correlative}}" type="number"
                                        style="text-align: center;"
                                        [disabled]="element.completeUpload ||  (element.errors.status && !element.errors.editing)"
                                        (change)="changeCorrelative(element, $event)">
                                    <span *ngIf="element.completeUpload"
                                        style="display: block; text-align: center;">{{ element.metadata.correlative }}</span>
                                </mat-form-field>
                                <mat-progress-bar [value]="element.progress" *ngIf="element.inProgress">
                                </mat-progress-bar>

                            </div>
                        </td>
                        <td class="mat-cell" [ngClass]="{'file-error': element.errors.status}"
                            matTooltip="{{ (!element.errors.status ? element.metadata.name + element.metadata.correlative : '') }}">
                            {{ element.metadata.width + 'x' + element.metadata.height }}</td>
                        <td class="mat-cell" [ngClass]="{'file-error': element.errors.status}">{{element.metadata.size}}
                        </td>
                        <td class="mat-cell" [ngClass]="{'file-error': element.errors.status}">{{element.metadata.type}}
                        </td>
                        <td class="mat-cell">
                            <div>
                                <a *ngIf="!element.inProgress && !element.completeUpload"
                                    (click)="deleteFileRow(element)" matTooltip="Eliminar imagen a cargar"
                                    mat-icon-button aria-label="delete">
                                    <mat-icon>delete</mat-icon>
                                </a>
                                <a *ngIf="element.errors.status" (click)="showErrors(element)" matTooltip="Con errores"
                                    mat-icon-button aria-label="error"
                                    [ngClass]="{'file-error': element.errors.status}">
                                    <mat-icon>error</mat-icon>
                                </a>
                                <a *ngIf="!element.errors.status" matTooltip="Sin errores" mat-icon-button
                                    aria-label="succes" [ngClass]="{'file-success': !element.errors.status}">
                                    <mat-icon>check_circle</mat-icon>
                                </a>
                                <a mat-icon-button (click)="retryImageLoad(element)" *ngIf="element.canRetry"
                                    matTooltip="Reintentar">
                                    <mat-icon>refresh</mat-icon>
                                </a>
                                <a mat-icon-button (click)="cancelImageUpload(element)" *ngIf="element.canCancel"
                                    matTooltip="Cancelar">
                                    <mat-icon>cancel</mat-icon>
                                </a>

                                <a mat-icon-button *ngIf="element.completeUpload" matTooltip="Imagen cargada">
                                    <mat-icon style="color:blue">cloud_done</mat-icon>
                                </a>
                            </div>
                            <div>
                                <ul class="hidden-error" [ngClass]="{'open': element.errors.display}">
                                    <li *ngFor="let msg of element.errors.messages" class="file-error"
                                        style="font-size: 12px;">
                                        {{ msg}}
                                    </li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="!imageProps" style="margin-top: 2em;">
        <h3 class="mat-h3">
            Propiedades no configuradas
        </h3>
    </div>
</div>
<div mat-dialog-actions>
    <button *ngIf="imageProps" mat-flat-button [disabled]="validateMaxUpload() == 0 || loading" (click)="saveImages()" [class.spinner]="loading"
        [style.fontSize.px]="12" color="accent">
        Guardar Imagenes
    </button>
    <button mat-flat-button color="warn" (click)="dialogClose()" [style.fontSize.px]="12" cdkFocusInitial>Salir</button>
</div>