.file-error {
    color: red;
}

.file-success {
    color: green;
}

.hidden-error {
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    -ms-transition: height 0.2s linear;
    -o-transition: height 0.2s linear;
    transition: height 0.2s linear;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.hidden-error.open {
    opacity: 1;
    height: auto;
}

.hide{
    display: none;
  }