<h2 mat-dialog-title>Acciones para {{titleProfile}} > {{titleModule}} </h2>
<mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
  <mat-label [style.fontSize.px]="14">Buscar</mat-label>
  <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
    placeholder="Ejemplo: Crear" />
  <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
  <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
    (click)="queryValue=''; applyFilter() ">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<form (ngSubmit)="save()">
    <mat-dialog-content [style.fontSize.px]="12">
      <mat-list role="list">
        <mat-list-item *ngFor="let action of filteredActions" style="border-top: 1px solid rgba(0, 0, 0, 0.12);">
          <mat-slide-toggle color="primary" [checked]="action.idProfile != 0 ? true : false" (change)="allowAction($event, action)"
          [disabled]="action.lock == '0' ">
            <div style="padding: 5px 0 5px 0; ">
              <p>
                <span [style.fontSize.px]="15">{{action.name}}</span>
              </p>
            </div>
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
      <div *ngIf="filteredActions.length <= 0">
        <h3 class="mat-h3">No hay datos a mostrar</h3>
        <mat-divider></mat-divider>
      </div>  
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button color="accent">Guardar</button>
      <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
    </mat-dialog-actions>
  </form>
