<div class="grid-container">
    <div class="frow-container">
        <h3 class="mat-h3">Permisos de usuario </h3>
        <div class="frow row-start items-stretch"> 
            <div class="col-xs-1-1 col-sm-2-5 col-md-2-5">
                <div style=" padding-bottom: 2em; padding-left: 5px; padding-right: 5px; border-right: 1px solid rgba(0, 0, 0, 0.12);">
                    <div class="frow row-start items-stretch">
                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                            <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
                                <mat-label [style.fontSize.px]="14">Buscar usuario</mat-label>
                                <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()"
                                    placeholder="Ejemplo: Admin" />
                                <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
                                <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="queryValue=''; applyFilter() ">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2" style="text-align: right;">
                            <button *ngIf="users?.length > 0" mat-icon-button matTooltip="Descargar permisos de usuarios" (click)="downloadCsv()"  style="float:right ">
                                <mat-icon>save_alt</mat-icon>
                            </button>
                        </div>
                    </div>
                    <mat-selection-list #userUsers [multiple]="false" [(ngModel)]="selectedUsers">
                        <mat-list-option style="border-top: 1px solid rgba(0, 0, 0, 0.12);"
                            *ngFor="let user of filteredUsers" [value]="user">
                            <mat-icon mat-list-icon [style.fontSize.px]="32">account_circle</mat-icon>
                            <div mat-line>{{user.name + ' | '}} <strong [style.fontSize.px]="12"
                                [ngStyle]="{'color': user.status == 'A' ? 'green' : user.status=='I'? 'orange': ''}">{{(user.status=='A' ? 'Activo' : user.status=='I' ? 'Inactivo': 'No definido') }}</strong></div>
                            <div mat-line> <strong> {{ user.userName }} </strong> </div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div> 
            <div class="col-xs-1-1 col-sm-3-5 col-md-3-5" style="padding-bottom: 2em;">
                <tlbo-profiles-by-user [user]="(selectedUsers[0])"></tlbo-profiles-by-user>
            </div>
        </div>
    </div>

</div>