<h2 mat-dialog-title>{{ (user.idUser == 0 ? 'Nuevo' : 'Editar ') }} Usuario</h2>
<mat-dialog-content [style.fontSize.px]="14" >
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12" >
      <mat-label [style.fontSize.px]="14">Nombres</mat-label>
      <input matInput  formControlName="name"  placeholder="" [(ngModel)]="user.name" >
       <mat-error *ngIf="name.errors?.required" style="padding-bottom: 5px;">
        Nombre es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="name.errors?.pattern" style="padding-bottom: 5px;">
        Nombre no puede ser espacios en blanco
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12" >
      <mat-label [style.fontSize.px]="14">Nombre de usuario</mat-label>
      <input matInput formControlName="userName"   placeholder="" [(ngModel)]="user.userName" >
       <mat-error *ngIf="userName.errors?.required" style="padding-bottom: 5px;">
        Nombre de usuario de usuario es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="userName.errors?.pattern" style="padding-bottom: 5px;">
        Nombre de usuario no puede ser espacios en blanco
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12" >
      <mat-label [style.fontSize.px]="14">Correo</mat-label>
      <input matInput formControlName="email"   placeholder="" [(ngModel)]="user.email" >
       <mat-error *ngIf="email.errors?.required" style="padding-bottom: 5px;">
        Correo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="email.errors?.email" style="padding-bottom: 5px;">
        Formato de correo <strong>invalido</strong>
      </mat-error>
      <mat-error *ngIf="email.errors?.pattern" style="padding-bottom: 5px;">
        Correo no puede ser espacios en blanco
      </mat-error>
    </mat-form-field> 
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12" *ngIf="user.idUser == 0">
      <mat-label [style.fontSize.px]="14">Perfil inicial</mat-label>
      <mat-select formControlName="profile">
        <mat-option>Sin perfil</mat-option>
        <mat-option *ngFor="let profile of profiles" [value]="profile.id_profile">
          {{profile.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="frow row-start" style="min-height: 77px;" *ngIf="['R'].includes(currentUser?.userType)">
      <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
        <div>
          <mat-checkbox   formControlName="type" [style.fontSize.px]="14">
            Usuario regional?</mat-checkbox>
        </div>
      </div>
      <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
        <mat-form-field *ngIf="type.value" class="fluid" [style.fontSize.px]="14" appearance="outline">
          <mat-label [style.fontSize.px]="16">Pais de dominio</mat-label>
          <mat-select  formControlName="country" >
            <mat-option *ngFor="let country of countries" [value]="country.code">
              {{country.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            Dominio de inicio
          </mat-error>
          <mat-icon matSuffix>flag</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" [disabled]="!userForm.valid"></button>
    <br>
  </form> 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent"  [disabled]="!userForm.valid" (click)="saveUser()">{{ (user.idUser == 0 ? 'Guardar' : 'Actualizar') }}</button>
  <button mat-flat-button color="warn" (click)="onNoClick()" >Salir</button>
</mat-dialog-actions>
 