/* We can remove the border we've set at the beginnig */
#gjs {
    border: 3px solid rgb(78, 73, 73);
}

  /* Reset some default styling */
.gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
    }

input {
  border: dashed red !important;
}

.class1 {
  border: dashed red !important;
}

.class2 {
  border: dashed rgb(146, 8, 238) !important;
}

form {
  background-color: red;
}

.ijng {
  background: rosybrown;
}

.wrapper {
  background: royalblue;
}

.gjs-frame-wrapper {
  background: sandybrown;
}

#gjs-frame-wrapper {
  background: slategrey;
}
