

.swiper-container {
    padding-left: 5px;
    width: 100%;
    height: 90px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  
  }
  
  .swiper-slide img {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .swiper-pagination {
    position: relative;
  }
  
  .swiper-controls {
    display: block;
    padding-top: 0.5em;
  }
  
  .swiper-pagination span {
    margin-right: 5px !important;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    display: inline-flex;
    top: 0;
    width: 0;
    height: 0;
    margin-top: 0;
  }
  
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1em;
    display: block;
  }
  
  .actions-buttons {
    display: block;
    width: 100%;
    height: 112px;
    text-align: center;
  }
  
  .actions-buttons div {
    height: 50%;
  }
  
  .actions-buttons button {
    height: 100%;
  }
  
  .actions-buttons .btn-delete-photo {
    background-color: #85707048;
    height: 50%;
  }
  
  .actions-buttons .btn-add-photo {
    background-color: #81626218;
    height: 50%;
  }

  .img-preview {
    width: 100%;
    min-height: 400px; 
    display: none;
    padding-bottom: 5px;
  }

  .show{
    display: block;
  }

  .show-contents
  {
    display: contents !important;
  }

  .hide{
    display: none;
  }

.show{    display: block;
  }


  .ngxImageZoomFullContainer {
    border: none !important;
  }