<div>
    <div>
        <div class="img-preview" [ngClass]="{'show': status.loading }">
            <img src="assets/images/load.gif" alt="" style="width: 75%; margin: auto; display: block;">
        </div>
        <div class="img-preview" [ngClass]="{'show': (!status.loading && slides.length <= 0) || error == 1 }">
            <img src="assets/images/Image-not-available.jpg" alt="" style="width: 75%; margin: auto; display: block;">
        </div>
        <div class="img-preview" [ngClass]="{'show': !status.loading && slides.length > 0 }">
            <lib-ngx-image-zoom [thumbImage]="selectedImage.thumbImage" [fullImage]="selectedImage.fullresImage"
                [magnification]="1" [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="250" [lensHeight]="250">
            </lib-ngx-image-zoom>
        </div>
    </div>
    <div style="padding-right: 5px;">
        <div class="frow row-start items-stretch">
            <div class="col-xs-5-6 col-sm-5-6 col-md-5-6">
                <swiper [config]="config" #usefulSwiper>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let item of slides"
                            style="display: block; margin-right: 0!important; width: 84.3333px;">
                            <img [src]="item.mini" #image alt="" (click)="getImage(item)" style="z-index: 99; width: 90px; height: 90px;">
                            <div>
                                <span style="font-size: 14px; font-weight: 400;">{{item.idImage}}</span>
                            </div>
                        </div>
                    </div>
                </swiper>
            </div>
            <div class="col-xs-1-6 col-sm-1-6 col-md-1-6"> 
                <div class="actions-buttons">
                    <div class="btn-add-photo" *ngIf="!status.error && error == 0 && arrayPermission.includes('edit')" matTooltip="Agregar imagenes">
                        <button mat-icon-button aria-label="" (click)="showFormImages()" >
                            <mat-icon>add_photo_alternate</mat-icon>
                        </button>
                    </div>
                    <div class="btn-delete-photo" *ngIf="!status.error && error == 0" matTooltip="Recargar imagenes">
                        <button mat-icon-button aria-label="" (click)="readImages()" [disabled]="status.loading">
                            <mat-icon>update</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="frow row-start items-stretch" style="margin-top: .5em;">
            <div style="display: none;" [ngClass]="{'show-contents': !status.loading && slides.length > 0 }">
                <div class="col-xs-1-3 col-sm-1-3 col-md-1-3">
                    <div class="swiper-button-prev" (click)="usefulSwiper.swiper.slidePrev()"></div>
                </div>
                <div class="col-xs-1-3 col-sm-1-3 col-md-1-3">
                    <div class="swiper-pagination"></div>
                </div>
                <div class="col-xs-1-3 col-sm-1-3 col-md-1-3" style="text-align: right;">
                    <div class="swiper-button-next" (click)="usefulSwiper.swiper.slideNext()"></div>
                </div>
            </div>
        </div>
    </div>
</div>