<h2 mat-dialog-title>{{ (id.value != null ? 'Editar' : 'Nueva ') }} característica</h2>
<form [formGroup]="featureForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="14">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="">
          <mat-error *ngIf="name.hasError('required')" [style.fontSize.px]="11" style="padding-bottom: 5px;">
            Nombre es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="name.hasError('maxlength')" [style.fontSize.px]="11" style="padding-bottom: 5px;">
            Supero 254 maximo de caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="14" style="margin-left: 5px;">
          <mat-label>Identificador</mat-label>
          <input matInput formControlName="identifier" placeholder="">
          <mat-error *ngIf="identifier.hasError('required')" style="padding-bottom: 5px;">
            Identificador es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="identifier.hasError('maxlength')" [style.fontSize.px]="12" style="padding-bottom: 5px;">
            Supero 254 maximo de caracteres
          </mat-error>
          <mat-error *ngIf="identifier.hasError('pattern')" [style.fontSize.px]="12" style="padding-bottom: 5px;">
            Unicos carácteres soportados (a-Z _ 0-9)
          </mat-error> 
        </mat-form-field>
      </div>

    </div>
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="14" >
          <mat-label [style.fontSize.px]="14">Ejemplo</mat-label>
          <input matInput formControlName="example" placeholder="Ejemplo: Si, No etc..">
          <mat-error [style.fontSize.px]="11" style="padding-bottom: 5px;">
            Supero 50 maximo de caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
        <mat-checkbox formControlName="boolean_value" *ngIf="image.value==false" [style.fontSize.px]="14" style="margin-left: 10px;">Booleano</mat-checkbox>
      </div>
    </div>
    <div class="frow row-start" style="min-height: 77px;">
      <div class="col-sm-1-2 col-sm-1-4 col-md-1-4">
        <mat-checkbox formControlName="displayable" [style.fontSize.px]="14">Visible</mat-checkbox>
      </div>
      <div class="col-sm-1-2 col-sm-1-4 col-md-1-4">
        <mat-checkbox formControlName="filter" [style.fontSize.px]="14">Aplica Filtro</mat-checkbox>
      </div>
      <div class="col-sm-1-1 col-sm-1-4 col-md-1-4">
        <mat-checkbox formControlName="image" *ngIf="boolean_value.value==false" [style.fontSize.px]="14"> Aplica imagen</mat-checkbox>
      </div>
      <div class="col-sm-1-1 col-sm-1-4 col-md-1-4">
        <mat-form-field appearance="outline" *ngIf="image.value==true" [style.fontSize.px]="14" class="fluid">
          <mat-label>Opcion de imagen</mat-label>
          <mat-select formControlName="general">
            <mat-option value="0">Especifica</mat-option>
            <mat-option value="1">General</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Descripción</mat-label>
      <textarea matInput placeholder="" formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="5"></textarea>
        <mat-error [style.fontSize.px]="11" style="padding-bottom: 5px;">
          Supero 50 maximo de caracteres
        </mat-error>
    </mat-form-field>

    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="accent"
      [disabled]="featureForm.invalid"  *ngIf="data?.feature?.lock!=1">{{ id.value != null ? 'Actualizar': 'Guardar' }}</button>
    <button mat-flat-button color="warn" [mat-dialog-close]="null">Cancelar</button>
  </mat-dialog-actions>
</form>