<div class="frow-container" style="padding-top: 2em;">
    <div class="frow">
        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
            <div class="closing-box">
                <br>
                <h4 class="mat-h4">Sin permisos para acceder a página de Inicio</h4>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
</div>