<div class="frow row-start">
  <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
    <h3 class="mat-h3">Productos <strong>{{ (day=='0' ? '': day +'/') + month + '/' + year}}</strong></h3>
  </div>
  <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="text-align:right;">
    <button *ngIf="products.length > 0" mat-icon-button matTooltip="Descargar reporte de productos CSV" (click)="downloadCsv()" >
      <mat-icon>save_alt</mat-icon>
    </button>
  </div> 
</div>
<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <br>
  <p style="text-align: center;">Buscando productos...</p>
</div>
<div [ngStyle]="{display: products.length > 0 ? 'block' : 'none'}">
  <table mat-table [dataSource]="productsDataSource"  class="fluid">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef >PUESTO</th>
      <td class="cell-pointer" mat-cell *matCellDef="let element">
        {{ element.puesto }}
      </td>
    </ng-container>
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef >SKU</th>
      <td class="cell-pointer" mat-cell *matCellDef="let element">
        {{ element.sku }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef >PRODUCTO</th>
      <td class="cell-pointer" mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="soldOut">
      <th mat-header-cell *matHeaderCellDef >VENDIDOS</th>
      <td class="cell-pointer" mat-cell *matCellDef="let element">
        {{ element.conteo }}
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef >PRECIO</th>
      <td class="cell-pointer" mat-cell *matCellDef="let element">
        {{ element.precio }}
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef >TOTAL</th>
      <td class="cell-pointer" mat-cell *matCellDef="let element">
        {{ element.total_recaudado }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
    <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns"></tr>
  </table>
  <br>
  <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>
</div>
<div *ngIf="products.length <= 0 && !loading" style="min-height: 2.5em;">
  <p>No hay productos a mostrar</p>
</div>