<div *ngIf="!user" style="padding-left: 10px;">
    <p>Ningun usuario seleccionado</p>
</div>
<div *ngIf="user" style="padding-left: 10px;">
    <div style="text-align: center;">
        <mat-icon [style.fontSize.px]="32">account_circle</mat-icon>
        <h3 class="mat-h3">{{ user.name + ' | '}}
            <strong [style.fontSize.px]="12"
                [ngStyle]="{'color': user.status == 'A' ? 'green' : user.status=='I'? 'orange': ''}">{{(user.status=='A' ? 'Activo' : user.status=='I' ? 'Inactivo': 'No definido') }}</strong>
        </h3>
    </div> 
    <div class="frow row-start items-stretch">
        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
          <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Buscar perfil</mat-label>
            <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="Ejemplo: Administrador" />
            <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
            <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                (click)="queryValue=''; applyFilter() ">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field> 
        </div>
      </div>
    <div>
        <mat-list role="list">
            <mat-list-item *ngFor="let profile of filteredProfiles" style="border-top: 1px solid rgba(0, 0, 0, 0.12);">
                <mat-slide-toggle [checked]="profile.check" color="primary" (change)="allowPermissionByUser($event, profile)"
                    [disabled]="!arrayPermission.includes('edit') || profile.status == 'I' || user.status == 'I'"> {{profile.name}} </mat-slide-toggle>
            </mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="filteredProfiles.length <= 0">
        <h3 class="mat-h3">No hay datos a mostrar</h3>
        <mat-divider></mat-divider>
    </div>
</div>