<h2 mat-dialog-title>No. {{contractId}}</h2>
<mat-dialog-content [style.fontSize.px]="14" >

    <div class="frow-container">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="filter($event)"  placeholder="Buscar" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="fluid mat-elevation-z8">
        <ng-container matColumnDef="dateStore">
          <th mat-header-cell *matHeaderCellDef> fecha</th>
          <td mat-cell *matCellDef="let element"> {{element.dateStore}} </td>
        </ng-container>
  
        <ng-container matColumnDef="contractNo">
          <th mat-header-cell *matHeaderCellDef>No. Contrato</th>
          <td mat-cell *matCellDef="let element"> {{element.contractNo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="documentTypeName">
          <th mat-header-cell *matHeaderCellDef>Tipo de Documento</th>
          <td mat-cell *matCellDef="let element"> {{element.documentTypeName}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> URL </th>
          <td mat-cell *matCellDef="let element">
            <a mat-icon-button aria-label="Documentos" target="_blank" href="{{element.url}}">
              <mat-icon>attach_file</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
        <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
      </table> 
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close] color="primary">Salir</button>
</mat-dialog-actions>