<div class="grid-container">
  <br>
  <div class="frow-container">
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
        <h2 class="mat-h2">Series</h2>
      </div>
      <div class="col-sm-1-1 col-sm-3-12 col-md-3-12">
        <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
          <mat-label [style.fontSize.px]="14">Buscar</mat-label>
          <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
            placeholder="Ejemplo: Samsung" />
          <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
          <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
            (click)="queryValue=''; applyFilter() ">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div [ngStyle]="{display: series.data.length > 0 ? 'block' : 'none'}">
      <table mat-table [dataSource]="series" matSort class="fluid table-bordered-material table-center-items">
        <ng-container matColumnDef="rangeNum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SERIE</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.rangeNum }}
          </td>
        </ng-container>
        <ng-container matColumnDef="delAttempt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ENVIOS</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.delAttempt }}
          </td>
        </ng-container>
        <ng-container matColumnDef="loadDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA INGRESO</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.loadDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="moveDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA MOVIMIENTO</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.moveDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>USUARIO</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.userName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ACCION">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            <button mat-icon-button  matTooltip="Envio de KEY" (click)="email(element)" *ngIf="arrayPermission.includes('edit')">
              <mat-icon>all_inbox</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
        <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns"></tr>
      </table>
      <br>
      <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="series.data.length <= 0" style="padding: 1em;">
      <h4 class="mat-h4">No hay datos para mostrar</h4>
    </div>
  </div>
</div>