<div style="padding: 2em 0;">

    <!-- <h2 class="mat-h2">TMCode: <strong>{{ tmcode }}</strong></h2>
    <div class="frow row-start">
        <div class="col-xs-1-1 col-sm-1-2 col-md-1-3" style="padding: 5px;" *ngFor="let plan of plan.planPrices">
            <mat-card class=" mat-elevation-z4">
                <mat-card-content>
                    <div>
                        <p style="text-align: center;">Plazo</p>

                        <h1 class="mat-h1" style="text-align: center; font-size: 28px; margin-bottom: 5px; ">
                            {{ plan.term}}</h1>
                        <p style="text-align: center;">Precio </p>
                        <h1 class="mat-h1" style="text-align: center; font-size: 28px;">{{ plan.price }}</h1>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div> -->

    <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
        <mat-label [style.fontSize.px]="14">Buscar</mat-label>
        <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="" />
        <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
        <a mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
            (click)="queryValue=''; applyFilter() ">
            <mat-icon>close</mat-icon>
        </a>
    </mat-form-field>
    <div class="frow row-start">

        <div class="col-xs-1-2 col-sm-1-2 col-md-1-4 " *ngFor="let product of products; let idx =index;" style="padding: 5px;">
           <!--  <mat-card class="mat-elevation-z4" [ngClass]="{'bg-beige': plan{{idx}}?.selectedOptions.selected.length > 0}"> -->
            <mat-card class="mat-elevation-z4" >
                <mat-card-header >
                    <!-- <mat-card-title>
                        <div class="frow row-start">
                            <div class="col-xs-7-8 col-sm-7-8 col-md-7-8 ">
                                <h4 class="mat-h4" style="font-weight: bold;">{{product.name}}</h4>
                            </div>
                            <div class="col-xs-1-8 col-sm-1-8 col-md-1-8 ">
                                <mat-checkbox matTooltip="Seleccionar todos los planes"></mat-checkbox>
                            </div>
                        </div>
                    </mat-card-title> -->
                    
                    <mat-card-subtitle style="font-weight: bold;">{{product.name}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image
                    src="https://test-dev.tienda-gt.tmx-internacional.com/cdn/{{product.sku}}/{{product.sku + '_1_312x400.jpg'}}"
                    alt="{{product.sku}}" style="margin-bottom: 0;  " class="b-top-1 b-bottom-1">
                <mat-card-content style="margin-bottom: 0; margin-bottom: 0;  " >

                    <div class="frow row-start">
                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 "  style="padding-left: 24px;">
                            Seleccionar todo
                        </div>
                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 " >
                            <mat-checkbox matTooltip="Seleccionar todos los planes" style="float: right;"></mat-checkbox>
                        </div>
                    </div>
                    <mat-selection-list #plan{{idx}}>
                        <mat-list-option *ngFor="let plan of plan.planPrices" style="min-height: 28px;" class="b-bottom-1" 
                        [selected]="plan.check == true">
                            <span>Plazo: <strong>{{plan.term }}</strong></span>
                            <span>Precio: <strong>1,000.00</strong></span>
                        </mat-list-option>
                    </mat-selection-list>
                </mat-card-content>
                <mat-card-actions >
                    <!-- <button mat-stroked-button color="accent">Guardar</button> -->
                    <button mat-raised-button color="accent" style="float: right;">Guardar</button>
                    <!-- <div class="frow row-start">
                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 "  style="padding-left: 24px;">
                            <mat-checkbox matTooltip="Seleccionar todos los planes"></mat-checkbox>
                        </div>
                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 " >
                           
                            <button mat-raised-button color="accent" style="float: right;">Guardar</button>
                        </div>
                    </div> -->
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>