<div class="grid-container">
    <div class="frow-container">
      <div class="frow row-start">
        <div class="col-sm-1-1 col-sm-4-12 col-md-4-12">
          <h2 class="mat-h2">Detalle de Campaña 02 Mes de la Amistad</h2>
        </div>
        <div class="col-sm-1-1 col-sm-5-12 col-md-6-12">
          <mat-form-field [style.fontSize.px]="12" appearance="outline" style="width: 75%;">
            <mat-label [style.fontSize.px]="14">Buscar</mat-label>
            <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
              placeholder="Ejemplo: flytext" />
            <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
            <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
              (click)="queryValue=''; applyFilter() ">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button mat-icon-button  (click)="loadBrands()" matTooltip="Recargar marcas" >
            <mat-icon>refresh</mat-icon>
        </button>
        </div>
        <div class="col-sm-1-1 col-sm-3-12 col-md-2-12" style="text-align: right;">
          <button mat-raised-button color="primary">Agregar</button>
        </div>
      </div>
      <br>
      <div [ngStyle]="{display: brands.data.length > 0 ? 'block' : 'none'}">
        <table mat-table [dataSource]="brands" matSort class="fluid">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PRODUCTO</th>
            <td class="cell-pointer" mat-cell *matCellDef="let element">
              {{ "Smartphone" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SERVICIO</th>
            <td matTooltip="{{element.description}}" class="cell-pointer" mat-cell *matCellDef="let element">
              {{ "Prepago" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lastModify">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SOURCE</th>
            <td class="cell-pointer" mat-cell *matCellDef="let element">
              {{ "Flytext" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="linkc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LINK CORTO</th>
            <td class="cell-pointer" mat-cell *matCellDef="let element">
              {{ "https://bitly.is/3tpxtqu" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="linkl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LINK LARGO</th>
            <td class="cell-pointer" mat-cell *matCellDef="let element">
              {{ "https://www.claro.com.gt/personas/mi-claro/inicio-de-sesion/" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="cell-pointer" mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit_off</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Borrar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['name', 'description',  'lastModify', 'linkc', 'linkl', 'actions']"></tr>
          <tr class="selected-row" mat-row
            *matRowDef="let row; columns: ['name', 'description', 'lastModify', 'linkc', 'linkl', 'actions' ]"></tr>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[25, 35, 50]" showFirstLastButtons></mat-paginator>
      </div>
      <div *ngIf="brands.data.length <= 0" style="padding: 1em;">
        <h3 class="mat-h3">No hay datos para mostrar</h3>
      </div>
    </div>
  </div>
  
