<h5 mat-dialog-title>{{date}}</h5>
<div mat-dialog-content>
    <div style="display: block; margin: 1em 0;">
        <mat-progress-bar mode="indeterminate" value="40" *ngIf="viewOptions.loading"></mat-progress-bar>
        <p *ngIf=" files.length <= 0" style="display: block; text-align: center;">No se encontraron datos</p>
        <div [ngStyle]="{display: !viewOptions.loading ? 'block' : 'none'}">
            <div [ngStyle]="{display: files.length > 0 ? 'block' : 'none'}">
                <table mat-table [dataSource]="filesDataSource" class="fluid">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element">
                            {{(element.fileName.length > 20) ? ((element.fileName).slice(0, 20) + '...') : element.fileName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> ESTADO </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element"> {{element.fileStatus}} </td>
                    </ng-container>
                    <ng-container matColumnDef="result">
                        <th mat-header-cell *matHeaderCellDef> RESULTADO </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element"> {{element.fileResult}} </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> FECHA </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="url">
                        <th mat-header-cell *matHeaderCellDef> ENLACE </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element">
                            <a mat-icon-button href="{{element.fileURL}}" target="_blank" *ngIf="['L', 'C', 'F'].includes(element.fileStatus)">
                                <mat-icon>save_alt</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns;"></tr>
                    <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;">
                    </tr>
                </table>
            </div>
            <div *ngIf="files.length <= 0" style="padding: 1em;">
                <h3 class="mat-h3">No hay datos para mostrar</h3>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close] color="accent">Salir</button>
</div>