.full-width-table {
    width: 100%;
  }
  
  .grid-container {
    margin: 20px;
  }
  
  .h-100 {
    min-width: 500px;
  }
  
  .selected-row:hover {
    background-color: beige;
  }
  
  .cell-pointer:hover {
    cursor: pointer;
  }