<div class="grid-container">
    <div class="frow-container">
        <h2 class="mat-h2">Producto de proveedores</h2>
        <div class="frow row-start">
            <div class="col-xs-3-12 col-sm-3-12 col-md-3-12"  [style.fontSize.px]="12">
                <mat-form-field appearance="outline" class="fluid">
                    <mat-label [style.fontSize.px]="14">Buscar</mat-label> 
                    <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
                        placeholder="Ejemplo: ZZ001MSC73" />
                    <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
                    <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="queryValue=''; applyFilter() ">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>

        <div [ngStyle]="{display: products.data.length > 0 ? 'block' : 'none'}">
            <table mat-table [dataSource]="products" matSort class="fluid table-bordered-material table-center-items">
                <ng-container matColumnDef="SKU">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU</th>
                    <td matTooltip="{{element.description}}" class="cell-pointer" mat-cell *matCellDef="let element"
                        (dblclick)="selectedRowDetailDialog(element)">{{ element.sku }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td matTooltip="{{element.description}}" class="cell-pointer" mat-cell *matCellDef="let element"
                        (dblclick)="selectedRowDetailDialog(element)">
                        {{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="BRAND">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element" data-label="Marca"
                        (dblclick)="selectedRowDetailDialog(element)">
                        {{ element.brand_name }}</td>
                </ng-container>
                <ng-container matColumnDef="CATEGORY">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element"
                        (dblclick)="selectedRowDetailDialog(element)">
                        {{ element.category_name }}</td>
                </ng-container>
                <ng-container matColumnDef="SUPPLIER">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element"
                        (dblclick)="selectedRowDetailDialog(element)">
                        {{ element.supplier_name }}</td>
                </ng-container>
                <ng-container matColumnDef="PRICE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
                    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
                </ng-container>

                <ng-container matColumnDef="ACCION">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button matTooltip="Cargar a inventario local" mat-icon-button aria-label="Upload" *ngIf="arrayPermission.includes('load')"
                            (click)="uploadConfirmDialog(row)">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="selected-row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <br>
            <mat-paginator [ngStyle]="{display: products.data.length > 0 ? 'block' : 'none'}"
                [pageSizeOptions]="[25, 35, 50]" showFirstLastButtons></mat-paginator>

        </div>
        <div *ngIf="products.data.length <= 0" style="padding: 1em;">
            <h3 class="mat-h3">No hay datos para mostrar</h3>
        </div>
    </div>
</div>
