<div [ngClass]="{'hide': featuresData.error != 0}" style="margin-top: 1.5em;">
  <h3 class="mat-h2" style="margin: 0;">Caracteristicas para <strong>{{featuresData.category.name}}</strong></h3>
  <mat-divider></mat-divider>
  <div class="frow items-stretch" style="padding-top: 1em;">
    <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2">
      <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Buscar</mat-label>
        <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
          placeholder="Ejemplo: Otro" />
        <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
        <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
          (click)="queryValue=''; applyFilter() ">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2" style="text-align: right;">
      <button matTooltip="Agregar características" (click)="showValidFeatures()" mat-icon-button aria-label="add" *ngIf="arrayPermission.includes('edit')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-flat-button color="accent" matTooltip="Guardar características" (click)="saveFeatures()" *ngIf="arrayPermission.includes('edit')">Guardar</button>
    </div>
  </div>
  <div [ngClass]="{'hide': featuresData.features.data.length <= 0}">
    <table mat-table [dataSource]="featuresData.features" class=" full-width-table">
      <ng-container matColumnDef="STATUS">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon [style.fontSize.px]="18" *ngIf="element.status == 1" matTooltip="Se eliminara la característica"
            aria-hidden="false" aria-label="Delete">
            delete
          </mat-icon>
          <mat-icon [style.fontSize.px]="18" *ngIf="element.status == 2" matTooltip="Se actualizara la característica"
            aria-hidden="false" aria-label="Update">
            autorenew
          </mat-icon>
          <mat-icon [style.fontSize.px]="18" *ngIf="element.status == 3" matTooltip="Se agregara nueva característica"
            aria-hidden="false" aria-label="New">
            create_new_folder
          </mat-icon>
          <mat-icon [style.fontSize.px]="18" *ngIf="element.status == 0 || element.status == 4"
            matTooltip="Ninguna acción" aria-hidden="false" aria-label="No Action">
            panorama_fish_eye
          </mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="DESCRIPCION">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.traduction}} </td>
      </ng-container>
      <ng-container matColumnDef="VALUE">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element">

          <mat-form-field appearance="outline" *ngIf="element.boolean_value=='1'"
            matTooltip="{{(element.placeholder == '' ? 'Solo se acepta SI/NO': element.placeholder)}}"
            [style.fontSize.px]="14" class="fluid" style="padding-top: 10px;">
            <mat-label [style.fontSize.px]="14">Posee esta característica?</mat-label>
            <mat-select (selectionChange)="element.value =$event.value;updateModelFeature(element)" [disabled]="!arrayPermission.includes('edit')"
              [(value)]="element.value">
              <mat-option value="SI">SI</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" *ngIf="element.image == '1'"
            matTooltip="{{(element.placeholder == '' ? 'Solo se acepta SI/NO': element.placeholder)}}"
            [style.fontSize.px]="14" class="fluid" style="padding-top: 10px;">
            <mat-label [style.fontSize.px]="14">Posee esta característica?</mat-label>
            <mat-select (selectionChange)="element.value=$event.value;updateModelFeature(element)" [disabled]="!arrayPermission.includes('edit')"
              [(value)]="element.value">
              <mat-option value="SI">SI</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
            <button mat-icon-button matSuffix (click)="$event.stopPropagation();uploadImage(element);"
              matTooltip="{{( element.general == '1' ? 'Imagen general': 'Imagen especifica')}}"
              aria-label="image"
              *ngIf="arrayPermission.includes('edit')">
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field [style.fontSize.px]="12" *ngIf="element.boolean_value != '1' && element.image != '1'"
            class="fluid i-feature" appearance="outline" style="padding-top: 10px;"
            matTooltip="{{(element.placeholder == '' ? 'Ingresar algun valor': element.placeholder)}}">
            <mat-label [style.fontSize.px]="14">Valor</mat-label>
            <input matInput (keyup)="updateModelFeature(element)" [(ngModel)]="element.value" placeholder="{{ (element.placeholder || '') }}" [disabled]="!arrayPermission.includes('edit')">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element" class="selected-row" style="text-align: center;">
          <button (click)="deleteFeature(element)" matTooltip="Eliminar característica" mat-icon-button aria-label="delete" *ngIf="arrayPermission.includes('edit')">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['STATUS','DESCRIPCION','VALUE',  'Delete'];"></tr>
      <tr class="selected-row" mat-row *matRowDef="let row; columns: ['STATUS','DESCRIPCION','VALUE',  'Delete'];"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
  <div [ngClass]="{'hide': featuresData.features.data.length > 0}">
    <p>No se encontraron características</p>
  </div>
</div>