.full-width-table {
    width: 100%;
  }
  
  .grid-container {
    margin: 20px;
  }
  
  .h-100 {
    min-width: 500px;
  }
  
  .selected-row:hover {
    background-color: beige;
  }
  
  .cell-pointer:hover {
    cursor: pointer;
  }

  .version-buttons{
    height: 100%;
  }

  .version-buttons > button{
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }

  .selected-row-delete{
    background-color: #f5dcdc;
  }

  .selected-row-add{
    background-color: #def5dc;
  }
