<div class="grid-container">
    <div class="frow-container" style="padding-bottom: 1em;">
        <h2 class="mat-h2">Inventario Local</h2>
        <div class="frow">
            <div class="col-xs-6-12 col-sm-6-12 col-md-6-12">
                <mat-form-field appearance="outline" [style.fontSize.px]="12">
                    <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                    <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()"
                        placeholder="Ejemplo: ZZ001MSC73" />
                    <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
                    <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="queryValue=''; applyFilter() ">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-icon-button  (click)="loadInventory()" matTooltip="Recargar inventario" >
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            
            <div class="col-xs-3-12 col-sm-3-12 col-md-3-12">
                <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
                    <mat-label [style.fontSize.px]="14">Versiones</mat-label>
                    <mat-select [(value)]="selectedVersion" (selectionChange)="versionChange()"
                        [disabled]="versions?.length <= 0" [class.spinner]="loadVersions">
                        <mat-option *ngFor="let version of versions" [value]="version">
                            {{version.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>
            <div class="col-xs-3-12 col-sm-3-12 col-md-3-12">
                <div class="version-buttons">
                    <button mat-icon-button [disabled]="loadVersions" (click)="reloadVersions()" matTooltip="Recargar versiones" >
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <!-- <button mat-icon-button
                        [disabled]="!selectedVersion || !editableVersions.includes(selectedVersion?.status)" *ngIf="arrayPermission.includes('delete')">
                        <mat-icon class="vertical-align: text-top;" matTooltip="Eliminar la version seleccionada"
                            (click)="deleteVersion()">
                            delete
                        </mat-icon>
                    </button> -->
                    <button mat-icon-button
                        [disabled]="!selectedVersion || !editableVersions.includes(selectedVersion?.status) "
                        (click)="updateVersion()" *ngIf="arrayPermission.includes('edit')">
                        <mat-icon class="vertical-align: text-top;" matTooltip="Editar la version seleccionada">
                            edit
                        </mat-icon>
                    </button>
                    <button mat-icon-button (click)="createVersion()" *ngIf="arrayPermission.includes('edit')">
                        <mat-icon class="vertical-align: text-top;" matTooltip="Agregar nueva version">
                            add
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div [ngStyle]="{display: productsDataSource.data.length > 0 ? 'block' : 'none'}">
            <table mat-table [dataSource]="productsDataSource" matSort class="fluid table-bordered-material table-center-items">
                <ng-container matColumnDef="sku">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU</th>
                    <td matTooltip="{{element.description}}" mat-cell *matCellDef="let element" data-label="SKU">
                        {{ element.sku }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
                    <td matTooltip="{{element.description}}" mat-cell *matCellDef="let element" data-label="Nombre">
                        {{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORIA</th>
                    <td matTooltip="{{element.description}}" mat-cell *matCellDef="let element" data-label="Categoria">
                        {{ element.category_name }}</td>
                </ng-container>
                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>MARCA</th>
                    <td mat-cell *matCellDef="let element" data-label="Marca">
                        {{ element.brand_name }}</td>
                </ng-container>
                <ng-container matColumnDef="supplier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>PROVEEDOR</th>
                    <td mat-cell *matCellDef="let element" data-label="Proveedor">
                        {{ element.supplier_name }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VERSIONADO</th>
                    <td mat-cell *matCellDef="let element" data-label="Estado">
                        <mat-checkbox #ref [checked]="element.statusVersion"
                            (click)="setProductInVersion($event, element)"
                            [disabled]="!selectedVersion || !editableVersions.includes(selectedVersion?.status) || !arrayPermission.includes('edit')" >
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="lastModify">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTUALIZACION</th>
                    <td mat-cell *matCellDef="let element" data-label="Actualizado">
                        {{ element.lastModify }}</td>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" data-label="Acciones">
                        <a mat-icon-button *ngIf="row?.statusVersion == 1 && arrayPermission.includes('pro-detail')" [routerLink]="[row.sku]"
                            [queryParams]="{v: selectedVersion?.versionId}" matTooltip="Editar producto">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a mat-icon-button
                            *ngIf="row?.statusVersion == 0 && arrayPermission.includes('pro-detail') "
                            [routerLink]="[row.sku]" matTooltip="Editar producto">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <button mat-icon-button (click)="deleteProduct(row)" matTooltip="Eliminar producto"
                            *ngIf="row?.statusVersion == 0 && arrayPermission.includes('delete')">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns sticky: false"></tr>
                <tr class="selected-row"
                    [ngClass]="{'selected-row-add': row.statusChangeVersion == 1, 'selected-row-delete': row.statusChangeVersion == 2 }"
                    mat-row *matRowDef="let row; columns: viewOptions.displayedColumns"></tr>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[25, 35, 50]" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="productsDataSource.data.length <= 0" style="padding: 1em;">
            <h3 class="mat-h3">No se encontraron datos</h3>
        </div>
    </div>
</div>