<div class="grid-container">
    <div class="frow-container">
        <h2 class="mat-h2">Grupos</h2>

        <br>
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
                <div class="frow row-start">
                    <div class="col-sm-9-12 col-sm-9-12 col-md-9-12">
                        <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
                            <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                            <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
                                placeholder="Ejemplo: Contrato" />
                            <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
                            <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                                (click)="queryValue=''; applyFilter() ">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3-12 col-sm-3-12 col-md-3-12">
                        <button mat-icon-button (click)="loadData()" matTooltip="Recargar archivos">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
                <button mat-flat-button color="accent" style="margin-right: 8px; float: right;" (click)="createFile()">
                    Agregar
                </button>
            </div>
        </div>
        <br>
        <div *ngIf="optionsView.loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div [ngStyle]="{display: groups.length > 0 && !optionsView.loading ? 'block' : 'none'}">
            <table mat-table [dataSource]="dataTable" matSort class="fluid">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORIA</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.category }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="docs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DOCUMENTOS</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.docs }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="lastModify">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>MODIFICACION</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.lastModify }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu>
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            <button mat-menu-item (click)="setFlow(element)">
                                <mat-icon>mediation</mat-icon>
                                <span>Flujos</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="optionsView.displayedColumns"></tr>
                <tr class="selected-row" mat-row *matRowDef="let row; columns: optionsView.displayedColumns"></tr>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="optionsView.pageSize" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="groups.length <= 0 && !optionsView.loading" style="padding: 1em;">
            <h3 class="mat-h3">No hay datos para mostrar</h3>
        </div>
    </div>
</div>