<h2 mat-dialog-title>{{idCategory.value == '0' ? 'Agregar': 'Actualizar'}} categoria</h2>
<form [formGroup]="categoryForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12"
      style="display:block; padding-right: 5px;">
      <mat-label [style.fontSize.px]="14">Nueva categoría...</mat-label>
      <input matInput placeholder="" formControlName="name">
      <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
        Nombre es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
        Supero 254 maximo de caracteres
      </mat-error>
      <mat-error *ngIf="name.hasError('pattern')" style="padding-bottom: 5px;">
        Unicos carácteres soportados (a-Z-_ 0-9)
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.fontSize.px]="12" class="fluid">
      <mat-label [style.fontSize.px]="14">Tipo de categoria</mat-label>
      <mat-select #_type formControlName="type">
        <mat-option *ngFor="let type of typeOfCategories" [value]="type.id_category_type">
          {{type.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="type.hasError('required')" style="padding-bottom: 5px;">
        Tipo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" [style.fontSize.px]="12" class="fluid">
      <mat-label [style.fontSize.px]="14">Grupo de documentos</mat-label>
      <mat-select #_doc formControlName="groupOfDocuments">
        <mat-option value="">
          Ningun grupo
        </mat-option>
        <mat-option *ngFor="let group of documentsGroups" [value]="group.id">
          {{group.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <!--  <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Descripción</mat-label>
            <input matInput placeholder="" formControlName="description" placeholder="Celulares | Samsung">
            <mat-error *ngIf="description.hasError('required')" style="padding-bottom: 5px;">
                Descripción es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="description.hasError('maxlength')" style="padding-bottom: 5px;">
                Supero 254 maximo de caracteres 
              </mat-error>
        </mat-form-field> -->

    <mat-form-field appearance="outline" class="fluid">
      <mat-label [style.fontSize.px]="14">Descripción</mat-label>
      <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2"
        formControlName="description" placeholder="Celulares | Samsung"></textarea>
      <mat-error *ngIf="description.hasError('required')" style="padding-bottom: 5px;">
        Descripción es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="description.hasError('maxlength')" style="padding-bottom: 5px;">
        Supero 254 maximo de caracteres
      </mat-error>
    </mat-form-field>
    <div class="frow row-start">
      <div class="col-sm-1-2 col-sm-1-4 col-md-1-4">
        <mat-checkbox formControlName="display" [style.fontSize.px]="12">Visible</mat-checkbox>
      </div>
      <div class="col-sm-1-2 col-sm-1-4 col-md-1-4">
        <mat-checkbox formControlName="macroCategory" [style.fontSize.px]="12">Macro categoria</mat-checkbox>
      </div>
    </div>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="accent" [disabled]="categoryForm.invalid" type="submit">Guardar</button>
    <button mat-flat-button color="warn" [mat-dialog-close]="null">Cancelar</button>
  </mat-dialog-actions>
</form>