<mat-dialog-content class="mat-typography" style="max-height: 100vh; height: 100%; overflow: hidden !important;">
    <iframe style="width: 100%; height: 100%; " src="assets/user-guide/Manual de usuario c273274e2d494d51817323542a324e13.html" frameborder="0"></iframe>
</mat-dialog-content>