<div class="grid-container">
  <br>
    <div class="frow-container">
      <mat-form-field appearance="outline" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Buscar</mat-label>
        <input matInput (keyup)="filter($event)" placeholder="Ex. 437259088927" #input>
      </mat-form-field>
      <mat-form-field appearance="outline" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Mes y Años</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <table mat-table #dataTable [dataSource]="dataSource" class="fluid mat-elevation-z8 table-bordered-material table-center-items">
        <ng-container matColumnDef="orderWcsid">
          <th mat-header-cell *matHeaderCellDef>NO ORDEN</th>
          <td mat-cell *matCellDef="let element"> {{element.orderWcsid}} </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef> SKU </th>
          <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
        </ng-container>
        <ng-container matColumnDef="clientId">
          <th mat-header-cell *matHeaderCellDef> COD. CLIENTE </th>
          <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
        </ng-container>
        
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>TELEFONO</th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="contract">
          <th mat-header-cell *matHeaderCellDef> CONTRATO </th>
          <td mat-cell *matCellDef="let element"> {{element.contract}} </td>
        </ng-container>
       
        <ng-container matColumnDef="courtDay">
          <th mat-header-cell *matHeaderCellDef> DIA DE CORTE</th>
          <td mat-cell *matCellDef="let element"> {{element.courtDay}} </td>
        </ng-container>
        <ng-container matColumnDef="cycle">
          <th mat-header-cell *matHeaderCellDef> CICLO FACTURACION </th>
          <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> ESTADO </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="botones">
          <th mat-header-cell *matHeaderCellDef> DOCUMENTOS </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Documentos"  (click)="documentList(element)" *ngIf="arrayPermission.includes('load')">
              <mat-icon>attach_file</mat-icon>
            </button>
          </td>
        </ng-container>

       
        <br>
        <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns" ></tr>
        <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;" ></tr>
      </table>
      <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons> </mat-paginator>
    </div>
  </div>