<h2 mat-dialog-title>{{ (module.idModule == 0 ? 'Nuevo' : 'Editar ') }} modulo</h2>
<mat-dialog-content [style.fontSize.px]="14">
  <form (ngSubmit)="save()"  [formGroup]="moduleForm" >
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Nombre</mat-label>
      <input matInput [formControl]="name" placeholder="" [(ngModel)]="module.name">
      <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
        Nombre es <strong>requerido</strong>
      </mat-error> 
      <mat-error *ngIf="name.hasError('pattern')" style="padding-bottom: 5px;">
        Nombre no puede ir vacio
      </mat-error> 
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Ruta</mat-label>
      <input matInput [formControl]="route" placeholder="" [(ngModel)]="module.route">
      <mat-error *ngIf="route.hasError('required')" style="padding-bottom: 5px;">
        Ruta es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="route.hasError('pattern')" style="padding-bottom: 5px;">
        Ruta no puede estar vacia
      </mat-error> 
    </mat-form-field>
    <div>
    <mat-checkbox *ngIf="['E'].includes(currentUser?.profileType)" formControlName="type" [style.fontSize.px]="14">Modulo especial?</mat-checkbox>
    </div>
    <button type="submit" hidden [disabled]="!moduleForm.valid" ></button>
    <br>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button #submit mat-flat-button color="accent" [disabled]="!moduleForm.valid"
    (click)="save()">{{ (module.idModule == 0 ? 'Guardar' : 'Actualizar') }}</button>
  <button mat-flat-button color="warn" (click)="onNoClick()" >Salir</button>
</mat-dialog-actions>