<h4 mat-dialog-title mat-h4>Gestionando version </h4>
<div mat-dialog-content>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="versionForm">
            <form [formGroup]="versionForm">
                <ng-template matStepLabel>Nombre para la versión*<span>: <strong>{{name.value}}</strong></span>
                </ng-template>
                <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
                    <mat-label [style.fontSize.px]="14">Nombre</mat-label>
                    <input matInput formControlName="name" required placeholder="Ejemplo: Prueba" />
                    <mat-error *ngIf="name.errors?.required" style="padding-bottom: 5px;">
                        Se requiere un nombre para la versión
                    </mat-error>
                </mat-form-field>
                <div style="text-align: left;">
                    <button mat-flat-button color="accent" matStepperNext style="margin-left: 5px;">Siguiente</button>
                    <button mat-flat-button color="warn"  style="margin-left: 5px;"  [mat-dialog-close]>Salir</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Seleccione una versión base</ng-template>
                <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
                    <mat-label [style.fontSize.px]="14">Versiones</mat-label>
                    <mat-select [(value)]="selectedVersion"formControlName="frmVersion" >
                        <mat-option>Sin versión</mat-option>
                        <mat-option *ngFor="let version of versions" [value]="version">
                            {{version.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>                    
                    <button mat-flat-button color="accent" matStepperNext style="margin-left: 5px;" [disabled]="!this.versionForm.valid" (click)="save()">Guardar</button>
                    <button mat-flat-button color="warn" matStepperPrevious
                        style="margin-left: 5px;">Anterior</button>
                    <button mat-flat-button color="warn" [mat-dialog-close] style="margin-left: 5px;">Salir</button>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</div>