<div class="bar">
    <div class="frow  ">
      <div class="col-xs-1-1 col-sm-1-1 col-md-1-2 col-lg-1-2">
        <div class="frow row-start  t ">
          <div class="col-xs-1-12 col-sm-1-12 col-md-1-12 col-lg-1-12">
            <i class="material-icons cursor-pointer p-3" (click)="rotate(-90)">rotate_left</i>
          </div>
          <div class="col-xs-1-12 col-sm-1-12 col-md-1-12 col-lg-1-12">
            <i class="material-icons cursor-pointer p-3" (click)="rotate(90)">rotate_right</i>
          </div>
          <div class="col-xs-1-12 col-sm-1-12 col-md-1-12 col-lg-1-12">
            <i class="material-icons cursor-pointer p-3" (click)="incrementZoom(0.1)">zoom_in</i>
          </div>
          <div class="col-xs-1-12 col-sm-1-12 col-md-1-12 col-lg-1-12">
            <i class="material-icons cursor-pointer p-3" (click)="incrementZoom(-0.1)">zoom_out</i>
          </div>
          <div class="col-xs-1-12 col-sm-1-12 col-md-1-12 col-lg-1-12">
            <i class="material-icons cursor-pointer p-3" (click)="showAllClick()"
              [ngClass]="{ active: showAll }">content_copy</i>
          </div>
        </div>
      </div>
      <div class="col-xs-1-1 col-sm-1-1 col-md-1-2 col-lg-1-2">
        <div class="frow row-end">
          <div class="col-xs-1-12 col-sm-1-12 col-md-1-12 col-lg-1-12">
            <i class="material-icons cursor-pointer p-3" (click)="incrementPage(-1)">navigate_before</i>
          </div>
          <div class="col-xs-2-12 col-sm-2-12 col-md-2-12 col-lg-2-12">
            <input type="text" value="1" class="input-count" placeholder="Page" [(ngModel)]="page"
              pattern="-?[0-9]*(\.[0-9]+)?">
          </div>
          <div class="col-xs-2-12 col-sm-2-12 col-md-2-12 col-lg-2-12 " style="text-align:left;">
            <span style="padding-left: 5px;">de {{ pdf?.numPages }}</span>
          </div>

          <div class="col-xs-1-12 col-sm-1-12 col-md-1-12 col-lg-1-12">
            <i class="material-icons cursor-pointer p-3" (click)="incrementPage(1)">navigate_next</i>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div [ngStyle]="{'height.vh': heightvh}">
    <div style="padding: 10px;" *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" style="width: 100%; " [ngStyle]="{'height.vh': heightvh}"
      *ngIf="doc && !loading">
      <pdf-viewer [src]="doc" [(page)]="page" [rotation]="rotation" [original-size]="originalSize"
        [fit-to-page]="fitToPage" (after-load-complete)="afterLoadComplete($event)" [zoom]="zoom"
        [show-all]="showAll" [stick-to-page]="stickToPage" [render-text]="renderText"
        [external-link-target]="'blank'" [autoresize]="autoresize" (error)="onError($event)"
        (on-progress)="onProgress($event)" style="display: block; width: 100%; height: 100%;"></pdf-viewer>
    </cdk-virtual-scroll-viewport>
  </div>