<div class="grid-container">
    <div class="frow-container">
        <div class="frow row-start">
            <div class="col-sm-1-2 col-md-1-2"> 
                <div>
                    <h2 class="mat-h2" style="display: inline-block !important;">Version: {{version?.name}}</h2>
                    <p  style="display: inline-block !important; vertical-align: middle;">
                        <mat-icon *ngIf="version?.versionStatus=='C'" matTooltip="{{versionStatus(version)}}"  style=" color:#0077b6">check_circle</mat-icon>
                        <mat-icon *ngIf="version?.versionStatus=='F'"  matTooltip="{{versionStatus(version)}}" style=" color:#e63946">warning</mat-icon>
                        <mat-icon *ngIf="version?.versionStatus=='P'"  matTooltip="{{versionStatus(version)}}" style=" color:#fca311">sync_alt</mat-icon>
                        <mat-icon *ngIf="version?.status=='V'"  matTooltip="Version verificada" style="color:#2a9d8f">verified</mat-icon>
                    </p>
                </div>
            </div>
            <div class="col-sm-1-2 col-md-1-2" style="text-align:right">
                <button mat-flat-button color="accent" *ngIf="['A','U','V'].includes(version?.status) && !['P'].includes(version?.versionStatus) && (arrayPermission.includes('add') || arrayPermission.includes('edit') )"
                 (click)="toUat(version)">A  UAT</button>
                <button mat-flat-button color="accent" style="margin-left: 5px;" *ngIf="['U'] .includes(version?.status) && !['P'].includes(version?.versionStatus) && arrayPermission.includes('validate')"
                    (click)="toValidation(version)" >Validar</button>
                <button mat-flat-button color="accent" style="margin-left: 5px;" *ngIf="version?.status=='V' && !['P'].includes(version?.versionStatus) && arrayPermission.includes('validate')" (click)="toProd(version)">Programar</button>
                <button mat-icon-button  (click)="reload()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </div>
        <stepper-custom *ngIf="version?.status != 'I' " [status]="version?.status"></stepper-custom>
        <div>
            <br>
            <div class="frow row-start">
                <div class="col-sm-1-2 col-md-1-2">
                    <h3 class="mat-h3">Detalle de cargas</h3>
                </div>
                <div class="col-sm-1-2 col-md-1-2">
                    <mat-form-field appearance="outline" [style.fontSize.px]="12">
                        <mat-label [style.fontSize.px]="14">Fecha Inicial</mat-label>
                        <input matInput [matDatepicker]="picker1" [formControl]="startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" [style.fontSize.px]="12">
                        <mat-label [style.fontSize.px]="14">Fecha Final</mat-label>
                        <input matInput [matDatepicker]="picker2" [formControl]="endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <button mat-icon-button (click)="searchLoads()" >
                        <mat-icon>search</mat-icon>
                      </button>
                </div>
            </div>
            <div [ngStyle]="{display: reportsDataSource.data.length > 0 ? 'block' : 'none'}">
                <table mat-table [dataSource]="reportsDataSource" matSort class=" full-width-table h-100">
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>USUARIO</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.userName }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="executionResult">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>RESULTADO</th>
                        <td mat-cell *matCellDef="let element">
                            {{ (element?.uploadStatus == 'C' ? 'Carga completa' : element?.uploadStatus == 'P' ? 'Carga en proceso' : 'Carga fallida' ) }}</td>
                    </ng-container>
                    <ng-container matColumnDef="uploadDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CARGA</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.uploadDate }}</td>
                    </ng-container>
                    <ng-container matColumnDef="executionDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>EJECUCION</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.executionDate}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row" data-label="Acciones">
                            <button mat-icon-button matTooltip="Ver archivos" (click)="showDownloadFiles(row)">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns sticky: false"></tr>
                    <tr class="selected-row"
                        [ngClass]="{'selected-row-add': row.statusChangeVersion == 1, 'selected-row-delete': row.statusChangeVersion == 2 }"
                        mat-row *matRowDef="let row; columns: viewOptions.displayedColumns"></tr>
                </table>
                <br>
                <mat-paginator [pageSizeOptions]="[25, 35, 50]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="reportsDataSource.data.length <= 0" style="padding: 1em;">
                <h3 class="mat-h3">No se encontraron datos</h3>
            </div>
        </div>
    </div>
</div>