<div [ngStyle]="{display: data?.length > 0 ? 'block' : 'none'}"  id="{{chartName}}"></div>
<div *ngIf="data?.length <= 0">
    <p>No hay datos a graficar</p>
</div>
<br>
<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
    <p style="text-align: center;">Cargando grafica...</p>
</div> 