<mat-toolbar color="primary" style="z-index: 99;">
  <div class="frow-container">
    <span>Tienda en Linea Back Office</span>
    <span style="flex: 1 1 auto;"></span>
  </div>
</mat-toolbar>
<div class="frow-container" style="padding-top: 2em;">
  <div class="frow">
    <div class="col-xs-1-1 col-sm-6-12 col-md-4-12">
      <mat-card style="padding: 0" class="mat-elevation-z6">
        <mat-card-header color="primary" class="my-header">
          <mat-card-title style="width: 100%; margin-bottom: 0 !important;">
            <div class="frow">
              <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                <h1 class="mat-h1">Bienvenidos</h1>
              </div>
              <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                <button mat-button [matMenuTriggerFor]="menu" style="float:right;">{{country.value}}</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngFor="let land of countries" (click)="setCountry(land)">{{land.value}}</button>
                </mat-menu>
              </div>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 2.5em 10%;">
          <br>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="fluid" [style.fontSize.px]="14" appearance="outline">
              <mat-label [style.fontSize.px]="16">Seleccione un pais</mat-label>
              <mat-select formControlName="sessionCountry" [compareWith]="compareWhithId">
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{country.name}}
                </mat-option>
              </mat-select>
              <mat-error>
                Seleccione un pais
              </mat-error>
              <mat-icon matSuffix>flag</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field class="fluid" [style.fontSize.px]="14" appearance="outline">
              <mat-label [style.fontSize.px]="16">Usuario</mat-label>
              <input matInput type="text" formControlName="username" autocomplete="on">
              <mat-error *ngIf="username.errors?.required">
                Ingrese un nombre de usuario
              </mat-error>
              <mat-error *ngIf="username.errors?.pattern" style="padding-bottom: 5px;">
                Escriba un nombre de usuario correcto
              </mat-error>
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field class="fluid" [style.fontSize.px]="14" appearance="outline">
              <mat-label [style.fontSize.px]="16">Contraseña</mat-label>
              <input matInput type="{{passwordType}}" formControlName="password">
              <a *ngIf="passwordType == 'password'" matSuffix mat-icon-button aria-label="Clear"
                (click)="changePasswordType()">
                <mat-icon>visibility</mat-icon>
              </a>
              <a *ngIf="passwordType == 'text'" matSuffix mat-icon-button aria-label="Clear"
                (click)="changePasswordType()">
                <mat-icon>visibility_off</mat-icon>
              </a>
              <mat-error *ngIf="password.errors?.required" style="padding-bottom: 5px;">
                Contraseña es requerida
              </mat-error>
            </mat-form-field>
            <div class="login-buttons">
              <button mat-raised-button color="accent" [disabled]="!loginForm.valid || loading"
                [class.spinner]="loading">
                Ingresar
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </div>
          </form>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-1-1 col-sm-6-12 col-md-8-12">
    </div>
  </div>
</div>