.grid-container{
    margin: 20px;
    justify-content: center;
  }
  .full-width{
    width: 100%;
  }
  mat-card{
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field{
    display: block;
  }
  
  
  
   #background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45%;
    background-color: pink;
    z-index: 1;
  }
  
  #content {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      } 
  
   .login-title{
     text-align: center;
   }
  
   .login-fields
   {
     padding: 2.5em;
   }
  
   .login-container{
     margin: 2em auto;
     width: 65%;
     padding: 2em;
   }
  
   .login-buttons{
     padding-top: 1em;
     text-align: center;
    width: 100%;
    
   }
  
   .login-buttons > button{
     width: 50%;
   }

