<!-- <h2 mat-dialog-title>{{ (status.value== 2 ? 'Editar' : 'Nueva ') }} marca</h2>
<form [formGroup]="brandForm" (ngSubmit)="save()">
  <mat-dialog-content [style.fontSize.px]="12">
    <mat-form-field appearance="outline" class="fluid">
      <mat-label [style.fontSize.px]="14">Nombre</mat-label>
      <input matInput formControlName="name" placeholder="">
      <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
        Nombre es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
        Supero 254 maximo de caracteres 
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid">
      <mat-label [style.fontSize.px]="14">Descripción</mat-label>
      <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8"
        formControlName="description"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-flat-button color="accent" [disabled]="brandForm.invalid">{{ status.value == 2 ? 'Actualizar': 'Guardar' }}</button>
    <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
  </mat-dialog-actions>
</form> -->
<h2 mat-dialog-title>{{ (version ? 'Editar' : 'Nueva ') }} versión</h2>
<form [formGroup]="versionForm" (ngSubmit)="save()">
  <mat-dialog-content [style.fontSize.px]="12">
    <mat-form-field appearance="outline" class="fluid">
      <mat-label [style.fontSize.px]="14">Nombre</mat-label>
      <input matInput formControlName="name" placeholder="">
      <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
        Nombre es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
        Supero 254 maximo de caracteres 
      </mat-error>
    </mat-form-field>
   <!--  <mat-form-field appearance="outline" class="fluid">
      <mat-label [style.fontSize.px]="14">Descripción</mat-label>
      <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8"
        formControlName="description"></textarea>
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Versiones</mat-label>
        <mat-select  formControlName="frmVersion"  [class.spinner]="loadVersions" >
            <mat-option>Sin versión</mat-option>
            <mat-option *ngFor="let version of versions" [value]="version.versionId">
                {{version.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-flat-button color="accent" [disabled]="versionForm.invalid">{{ version ? 'Actualizar': 'Guardar' }}</button>
    <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
  </mat-dialog-actions>
</form>