<h5 mat-dialog-title>{{file.name || 'Datos incorrectos...'}}</h5>
<div mat-dialog-content>
    <div style="display: block; margin: 1em 0;">
        <mat-progress-bar mode="indeterminate" value="40" *ngIf="viewOptions.loading"></mat-progress-bar>
        <p *ngIf=" file.historyFiles.length <= 0" style="display: block; text-align: center;">No se encontraron datos</p>
        <div [ngStyle]="{display: !viewOptions.loading ? 'block' : 'none'}">
            <div [ngStyle]="{display: file.historyFiles.length > 0 ? 'block' : 'none'}">
                <table mat-table [dataSource]="filesDataSource" class="fluid">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element">
                            {{ element.name }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> DESCRIPCION </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="lastModify">
                        <th mat-header-cell *matHeaderCellDef> ACTUALIZADO </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element"> {{element.lastModify}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="path">
                        <th mat-header-cell *matHeaderCellDef> ENLACE </th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element">
                            <a mat-icon-button href="{{element.path}}" target="_blank" >
                                <mat-icon>save_alt</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns;"></tr>
                    <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;">
                    </tr>
                </table>
            </div>
            <div *ngIf="file.historyFiles.length <= 0" style="padding: 1em;">
                <h3 class="mat-h3">No hay datos para mostrar</h3>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close] color="accent">Salir</button>
</div>