<h2 mat-dialog-title>Serie: {{data.rangeNum}}</h2>
<form [formGroup]="serieForm" (ngSubmit)="sendEmail()">
    <mat-dialog-content>
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Correo</mat-label>
            <input matInput formControlName="email" placeholder="">
            <mat-error *ngIf="email.hasError('required')" style="padding-bottom: 5px;">
                Correo es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="email.hasError('maxlength')" style="padding-bottom: 5px;">
                Supero 50 maximo de caracteres
            </mat-error>
            <mat-error *ngIf="email.hasError('email')" style="padding-bottom: 5px;">
                Correo no es valido
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button class="black-button" [disabled]="serieForm.invalid">Enviar</button>
        <a mat-flat-button (click)="close()" color="primary">Cancelar</a>
    </mat-dialog-actions>
</form>