<div class="grid-container">
    <div class="frow-container">
        <div class="frow row-start items-stretch" style="padding-top: 1em;">
            <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                <h2 class="mat-h2">Modulos </h2>
            </div>
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2" style="text-align: right;">
                <div class="frow row-start items-stretch" style="padding: 1em 0 ;">
                    <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                        <mat-form-field class="fluid" [style.fontSize.px]="12" appearance="outline">
                            <mat-label [style.fontSize.px]="14">Buscar modulo</mat-label>
                            <input matInput #query (keyup)="applyFilter(query.value)" placeholder="Ejemplo: inventario" />
                            <mat-icon matSuffix *ngIf="query.value == ''">search</mat-icon>
                            <button mat-button *ngIf="query.value != ''" matSuffix mat-icon-button aria-label="Clear"
                                (click)="query.value = ''; applyFilter(query.value) ">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                        <button mat-raised-button (click)="createForm()" color="accent" *ngIf="arrayPermission.includes('add')">
                            Nuevo
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div [ngClass]="{'hide':dataSource.data.length > 0}">
            <h3 class="mat-h3">No hay datos a mostrar</h3>
            <mat-divider></mat-divider>
        </div>
        <div [ngClass]="{'hide':dataSource.data.length <= 0}">
        <table mat-table [dataSource]="dataSource" class=" fluid" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;"> NOMBRE </th>
                <td class="selected-row" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;"> RUTA </th>
                <td class="selected-row" mat-cell *matCellDef="let element"> {{element.route}} </td>
            </ng-container>
            <ng-container matColumnDef="status" >
                <th mat-header-cell *matHeaderCellDef style="color: black;"> ESTADO </th>
                <td class="selected-row" mat-cell *matCellDef="let element">
                    <mat-chip-list *ngIf="arrayPermission.includes('edit')">
                        <mat-chip class="cursor-pointer" (click)="allowModule(element)" matTooltip="{{getStatusTooltip(element)}}"
                            [ngStyle]="{'background-color': element.lock==1 ? '#66BB6A' : element.lock==0 ? '#FF8A65': ''}"
                            style="color:#fff;" [style.fontSize.px]="12">
                            {{ (element.lock=='1' ? 'Activo' : element.lock=='0' ? 'Inactivo': 'No definido')  }}
                        </mat-chip>
                    </mat-chip-list>
                    <mat-chip-list *ngIf="arrayPermission.includes('edit') == false">
                        <mat-chip class="cursor-pointer" 
                            [ngStyle]="{'background-color': element.lock==1 ? '#66BB6A' : element.lock==0 ? '#FF8A65': ''}"
                            style="color:#fff;" [style.fontSize.px]="12">
                            {{ (element.lock=='1' ? 'Activo' : element.lock=='0' ? 'Inactivo': 'No definido')  }}
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="ACCION">
                <th mat-header-cell *matHeaderCellDef style="color: black;"> EDITAR </th>
                <td class="selected-row " mat-cell *matCellDef="let element">
                    <button mat-icon-button  color="accent" [style.fontSize.px]="12" (click)="onEdit(element)" *ngIf="arrayPermission.includes('edit')">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container> -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="selected-row " mat-cell *matCellDef="let element">
                    <button mat-icon-button  color="accent" [style.fontSize.px]="12" [matMenuTriggerFor]="menu" aria-label="Mas opciones"
                    [disabled]="arrayPermission.includes('edit') == false ">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" >
                        <a mat-menu-item *ngIf="arrayPermission.includes('edit')"
                            (click)="onEdit(element)">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </a>
                        <a mat-menu-item color="primary" *ngIf="arrayPermission.includes('edit')"
                            (click)="openDialog(element)">
                            <mat-icon>preview</mat-icon>
                            <span>Acciones</span>
                        </a>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
            <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
        </table>
            <mat-paginator style="background: none;padding: 2em 0;" [pageSizeOptions]="viewOptions.pageSize">
            </mat-paginator>
        </div>
    </div>
</div>