<div class="grid-container">
    <div class="frow-container">
        <h2 class="mat-h2">Archivos</h2>

        <!-- <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-7-12 col-md-7-12">
            </div>
            <div class="col-xs-1-1 col-sm-5-12 col-md-5-12">
            </div>
        </div> -->
        <br>
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
                <div class="frow row-start">
                    <div class="col-sm-9-12 col-sm-9-12 col-md-9-12">
                        <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
                            <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                            <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
                                placeholder="Ejemplo: Contrato" />
                            <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
                            <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                                (click)="queryValue=''; applyFilter() ">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3-12 col-sm-3-12 col-md-3-12">
                        <button mat-icon-button (click)="loadFiles()" matTooltip="Recargar archivos">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="text-align: right;">
                <button mat-flat-button color="accent" style="margin-right: 5px;">A UAT</button>
                <button mat-flat-button color="accent" style="margin-right: 5px;">Validar</button>
                <button mat-flat-button color="accent">Programar</button>
            </div>
        </div>
        <br>
        <div *ngIf="viewOptions.loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div [ngStyle]="{display: files.data.length > 0 && !viewOptions.loading ? 'block' : 'none'}">
            <table mat-table [dataSource]="files" matSort class="fluid">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCION</th>
                    <td matTooltip="{{element.description}}" class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.description }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="lastModify">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CARGA</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.lastModify }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>ESTADO</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip color="primary" selected>Pendiente</mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <ng-container matColumnDef="download">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCARGAR</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        <a mat-icon-button target="_blank" >
                            <mat-icon>save_alt</mat-icon>
                        </a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
                <tr class="selected-row" mat-row
                    *matRowDef="let row; columns: viewOptions.displayedColumns"></tr>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="files.data.length <= 0 && !viewOptions.loading" style="padding: 1em;">
            <h3 class="mat-h3">No hay datos para mostrar</h3>
        </div>
    </div>
</div>