.btn-file{
    border: 1px #bdb8b8 dashed;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}



.btn-file > input {
display: inline-block;
    padding-bottom: 5px;

}



.bar{
    /* background-color: #30475e; */
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #e4e1e1;
    border-bottom: 1px solid #e4e1e1;

  }
  
  /* .t > div {
    text-align:center;
  } */
  
  .input-count{
    text-align: center;
    width: 100%;
    /* background-color: white; */

  }
  
 /*  .material-icons{
    font-size: 20px;
    color: white;

  }
  
  .white-color {
    color: white;
  } */


  .pdf-viewer{
    border-left: 1px solid #e4e1e1;
    border-right: 1px solid #e4e1e1;
    border-bottom: 1px solid #e4e1e1;
  }

  .active{
    border-radius: 5px;
    background-color: teal;
    color: #fff;
  }

  .p-3 {
      padding: 3px;
      margin-left: 2px;
  }