<div class="frow row-start ">
  <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
    <h2 class="mat-h2">Nuevo documento</h2>
  </div>
  <div class="col-sm-1-1 col-sm-1-2 col-md-1-2" style="text-align: right;">
    <!-- <button mat-raised-button color="accent" style="margin-right: 5px;" *ngIf="stepper.selectedIndex == 1 && !loadingEditionError"
      (click)="prevStep()">Anterior</button> -->
    <button mat-raised-button color="accent" style="margin-right: 5px;" *ngIf="stepper.selectedIndex == 1 && !loadingEditionError"
      (click)="save()">Guardar</button>
      <button mat-flat-button color="accent"  style="margin-right: 5px;" *ngIf="stepper.selectedIndex == 0"
              (click)="nextStep()" [disabled]="!documentForm.valid">Siguiente</button>
    <button mat-raised-button color="warn" style=" margin-right: 5px;" [mat-dialog-close]="null">Salir</button>
  </div>
</div>
<mat-dialog-content class="mat-typography" style="max-height: 100vh; height: 100%; overflow: hidden !important;">
  <div style="height: 100%; width: 100%;">
    <mat-horizontal-stepper [linear]="true" #stepper class="stepper-file" (selectionChange)="changeStep($event)" >
      <mat-step [stepControl]="documentForm" state="doc">


        <div style="padding: 10px;" *ngIf="loadingEdition">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <p style="text-align: center; margin: 10px 0;">Cargando datos...</p>
        </div>

        <form [formGroup]="documentForm" *ngIf="!loadingEdition">
          <ng-template matStepLabel>Información documento</ng-template>
          <mat-form-field appearance="outline" class="fluid">
            <mat-label [style.fontSize.px]="14">Nombre</mat-label>
            <input matInput formControlName="name" placeholder="">
            <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
              Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
              Supero 254 maximo de caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="fluid">
            <mat-label [style.fontSize.px]="14">Descripción</mat-label>
            <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8"
              formControlName="description"></textarea>
          </mat-form-field>
          <mat-checkbox formControlName="systemReserved" style="margin-bottom: 1em; display: block;">
            Reservado para uso interno?
          </mat-checkbox>
          <div class="btn-file"
            [class.success-2-color]="!document.hasError('required') && !document.hasError('requiredFileType') && fileToUpload">
            <mat-label style="display: block; padding-bottom: 5px;">Documento</mat-label>
            <input placeholder="" type="file" (change)="handleFileInput($event.target.files)">
            <mat-error *ngIf="document.hasError('required')" style="padding-bottom: 5px;">
              Documento es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="document.hasError('requiredFileType') " style="padding-bottom: 5px;">
              Documento <strong>no compatible</strong>
            </mat-error>
          </div>
          <div>
            <button #btnNext mat-flat-button color="accent" matStepperNext style="float: right;" id="btnNext" hidden (click)="loadConfig()">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step state="config">
        <ng-template matStepLabel (click)="nextStep()">Configurar documento</ng-template>
        <div class="frow row-start items-start" style="padding-top: 5px;">
          <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="padding-right: 5px; ">
            <div >
              <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid search-tag">
                <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
                  placeholder="Ejemplo: Nombre" />
                <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
                <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                  (click)="queryValue=''; applyFilter() ">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <br>
              <div style="width: 100%; height: 64vh">
                <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" style="width: 100%; height: 57vh">
                  <div style="padding: 10px;" *ngIf="loadingLabels">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </div>
                  <div [ngStyle]="{display: labels.length > 0 ? 'block' : 'none'}">
                    <table mat-table [dataSource]="dataSource" matSort class="fluid" >
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element">
                          {{ element.name }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element">
                          {{ element.description }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                        <td class="cell-pointer" mat-cell *matCellDef="let element">
                          {{ element.type }}
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr class="selected-row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                  </div>
                  
                  <div [ngStyle]="{display: labels.length <= 0 ? 'block' : 'none'}">
                    <h4 class="mat-h4">No se encontraron etiquetas</h4>
                  </div>
                </cdk-virtual-scroll-viewport>
                <mat-paginator style=" border-bottom: 1px solid #e4e1e1;" [pageSizeOptions]="[25, 35, 50]"
                  showFirstLastButtons></mat-paginator>

              </div>


            </div>


          </div>
          <div class="col-sm-1-1 col-sm-6-12 col-md-6-12 pdf-viewer">
            <my-pdf-viewer [doc]="doc" [heightvh]="'65'" [loading]="generateDocuent"></my-pdf-viewer>
          </div>
        </div>
      </mat-step>
      <ng-template matStepperIcon="doc">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="config">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div>
</mat-dialog-content>