<div class="frow row-start items-start" style="margin-bottom: 5px; border-bottom: 1px solid #ccc;">
    <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
        <h2 class="mat-h2">
            {{ group?.name || 'Flujo de documentos'}}
        </h2>
    </div>
    <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="text-align: right;">
        <button mat-flat-button color="accent" style="margin-right: 5px; ">
            Guardar
        </button>
        <button mat-raised-button color="warn" style=" margin-right: 5px;" [mat-dialog-close]="null" >Salir</button>
    </div>
</div>
<mat-dialog-content style="max-height: 100vh; height: 100%; overflow: hidden; ">
    <div style="height: 100%; width: 100%;">
        <div class="frow row-start items-start" style="padding: 1em">
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style=" text-align: center; ">
                <p style="display: inline-block;"><strong>Archivos</strong></p>
            </div>
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="padding-right: 5px; text-align: center;">
                <p style="display: inline-block;"><strong>Orden de archivos </strong></p>
            </div>
        </div>
        <div class="frow row-start items-start">
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="padding-right: 5px; ">
                <cdk-virtual-scroll-viewport itemSize="50" style="width: 100%; height: 65vh; ">
                    <div style="margin: 1em;" *ngIf="loadingFiles">
                        <mat-progress-bar mode="query"></mat-progress-bar>
                    </div>
                    <div *ngIf="!group">
                        <p>Ningun grupo seleccionado</p>
                    </div>
                    <div *ngIf="!loadingFlow && group && files?.length <= 0" style="padding-left: 2em;">
                        <p>Ningun archivo seleccionado</p>
                    </div>
                    <div class="container-list" [ngStyle]="{display: group && !loadingFiles ? 'block' : 'none'}">
                        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="files"
                            [cdkDropListConnectedTo]="[doneList]" class="file-list" (cdkDropListDropped)="drop($event)">
                            <div class="item-box mat-elevation-z3 " *ngFor="let item of files" cdkDrag>
                                <mat-icon>insert_drive_file</mat-icon>
                                <span style="padding-left: 1em;"> {{ item.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="padding-right: 5px; ">
                <cdk-virtual-scroll-viewport itemSize="50" style="width: 100%; height: 65vh">
                    <div style="margin: 1em;" *ngIf="loadingFlow">
                        <mat-progress-bar mode="query"></mat-progress-bar>
                    </div>
                    <div *ngIf="!group">
                        <p>Ningun grupo seleccionado</p>
                    </div>
                    <div *ngIf="!loadingFlow && group && filesFlow?.length <= 0" style="padding-left: 2em;">
                        <p>Arrastre archivos y ordenelos</p>
                    </div>
                    <div class="container-list" [ngStyle]="{display: group && !loadingFlow ? 'block' : 'none'}">
                        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="filesFlow"
                            [cdkDropListConnectedTo]="[todoList]" class="file-list" (cdkDropListDropped)="drop($event)">
                            <div class="item-box   mat-elevation-z3" *ngFor="let item of filesFlow; let idx = index;"
                                cdkDrag>
                                <mat-icon>insert_drive_file</mat-icon>
                                <span style="padding-left: 1em;">
                                    <strong>{{(idx+1)}}</strong>. {{ item.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </div>
</mat-dialog-content>