.nav-button {
    margin: 5px 0;
    border-top: 1px solid #2121;
    border-bottom: 1px solid #2121;
}


.nav-button > div > i  {
    vertical-align: middle;
}


.container-list {
    min-height: 60vh !important;
    display: block;
    padding-bottom: .5em;
}

  
  .file-list {
    min-height: 60vh;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .item-box {
    padding: 20px 10px;
    margin: 5px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  /* .item-box:last-child {
    border: none;
  } */
  
  .file-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }