<div class="grid-container" style="margin-top: 2.5em !important;">
    <div class="frow-container">
      <div class="frow row-end">
        <div class="col-sm-1-1 col-sm-2-12 col-md-2-12">
            <mat-form-field appearance="outline" [style.fontSize.px]="12" class="fluid">
                <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                <input matInput (keyup)="filter($event)" placeholder=" " #input>
            </mat-form-field>
        </div>
        <div class="col-sm-1-1 col-sm-1-12 col-md-1-12" style="text-align: right;"> 
          <button mat-raised-button color="primary" (click)="crearlandin()">Crear Landing Page</button>
        </div>
        </div>
        <table mat-table #dataTable [dataSource]="dataSource" class="fluid mat-elevation-z8 table-bordered-material table-center-items">
        <ng-container matColumnDef="odaOrderId" >
          <th mat-header-cell *matHeaderCellDef > NOMBRE DE CAMPAÑA  </th>
          <td mat-cell *matCellDef="let element" > {{"Campaña 02 Mes de la Amistad"}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef > PRODUCTO </th>
          <td mat-cell *matCellDef="let element"  > {{"Smartphone"}} </td>
        </ng-container>
        <ng-container matColumnDef="deliveryAddres">
          <th mat-header-cell *matHeaderCellDef >PLAN DE SERVICIO</th>
          <td mat-cell *matCellDef="let element"  > {{"Prepago"}} </td>
        </ng-container>
        <ng-container matColumnDef="guia">
          <th mat-header-cell *matHeaderCellDef >ID LANDING</th>
          <td mat-cell *matCellDef="let element" > {{"2"}} </td>
        </ng-container>
        <ng-container matColumnDef="idOrden">
          <th mat-header-cell *matHeaderCellDef > FECHA CREACION </th>
          <td mat-cell *matCellDef="let element" > {{"01/02/2021"}} </td>
        </ng-container>
        <ng-container matColumnDef="card_auth_code">
          <th mat-header-cell *matHeaderCellDef > USUARIO</th>
          <td mat-cell *matCellDef="let element" > {{"Alejandro Robles"}} </td>
        </ng-container>
        <ng-container matColumnDef="botones">
          <th mat-header-cell *matHeaderCellDef > ACCIONES</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit_off</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Borrar</span>
              </button>
              <button mat-menu-item>
                <mat-icon>http</mat-icon>
                <span>Generar Link</span>
              </button>
              <button mat-menu-item (click)="crearutm()">
                <mat-icon>assignment_turned_in</mat-icon>
                <span>Detalles</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
        <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons> </mat-paginator>
    </div>
</div>
