<h2 mat-dialog-title>{{ message.title }}</h2>
<mat-dialog-content class="mat-typography">
  <p> 
    {{ message.description }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn"  [mat-dialog-close]="false" >Cancelar</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true"  cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>  
