<mat-card style="min-height: 300px; " class="mat-elevation-z8">
    <h2 class="mat-h2">Productos excluidos</h2>
    <div class="frow row-start" style="padding-bottom: 1em;">
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 ">
        <mat-form-field class="fluid" [style.fontSize.px]="12" appearance="outline">
          <mat-label [style.fontSize.px]="14">Buscar SKU</mat-label>
          <input matInput  (keyup)="applyFilter()" placeholder="Ejemplo: 101010202" [ngModel]="query" />
          <mat-icon matSuffix *ngIf="query == ''">search</mat-icon>
          <button mat-button *ngIf="query != ''" matSuffix mat-icon-button aria-label="Clear"
            (click)="query = ''; applyFilter(); ">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 " style="text-align: right;">
        <button mat-mini-fab matTooltip="Agregar sku" aria-label="see" (click)="openCatalogDialog()" *ngIf="!viewOptions.loading">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Actualizar datos" aria-label="refresh"  (click)="loadData()" style="margin-left: 5px;">
          <mat-icon>cached</mat-icon>
        </button>
      </div>
    </div>
    <div style="padding: 2em 0;" *ngIf="viewOptions.loading">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <div [ngStyle]="{display: data.length > 0 && !viewOptions.loading ? 'block' : 'none'}">
      <table mat-table [dataSource]="dataSource" matSort class="fluid" >
        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
          <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef > ACCIONES </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button (click)="delete(element)"  matTooltip="Eliminar">
              <mat-icon class="vertical-align: text-top;" >
                delete
              </mat-icon>
          </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef=" viewOptions.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="viewOptions.pageSize"></mat-paginator>
    </div>

    <div *ngIf="data.length <= 0 && !viewOptions.loading">
        <h3 class="mat-h3">
            Ningun SKU registrados
        </h3>
    </div>

  </mat-card>