<div class="grid-container">
  <div class="frow-container">
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
        <h2 class="mat-h2">Series</h2>
      </div>
      <div class="col-sm-1-1 col-sm-2-12 col-md-2-12">
        <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
          <mat-label [style.fontSize.px]="14">Buscar</mat-label>
          <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
            placeholder="Ejemplo: Samsung" />
          <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
          <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
            (click)="queryValue=''; applyFilter() ">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-sm-2-12 col-md-2-12">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
          <mat-label [style.fontSize.px]="14">Estado</mat-label>
          <mat-select [formControl]="statusForm" (selectionChange)="changeStatus()" class="fluid">
            <mat-option value="">Todo</mat-option>
            <mat-option *ngFor="let status of statusList" [value]="status.code">{{status.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-sm-1-12 col-md-1-12" style="text-align: right;" >
        <button mat-icon-button matTooltip="Descargar reporte de ordenes" style="margin-left: 10px; float:right; " (click)="downloadCsv()" >
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>

    </div>
    <br>
    <div [ngStyle]="{display: series.data.length > 0 ? 'block' : 'none'}">
      <table mat-table [dataSource]="series" matSort class="fluid table-bordered-material table-center-items">
        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.sku }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rangeNum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SERIE</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.rangeNum }}
          </td>
        </ng-container>
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>KEY</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.keyNum" matTooltip="Con clave" style="color:green;">check</mat-icon>
            <mat-icon *ngIf="!element.keyNum" matTooltip="Sin clave" style="color:orange;">clear</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef >ESTADO</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            <mat-chip-list aria-label="">
              <mat-chip *ngIf="element.status == 'A'" [style.fontSize.px]="12">Disponible</mat-chip>
              <mat-chip *ngIf="element.status == 'R'" [style.fontSize.px]="12">Reservada</mat-chip>
              <mat-chip *ngIf="element.status == 'S'" [style.fontSize.px]="12">Vendida</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>
        <ng-container matColumnDef="loadDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA DE CARGA</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.loadDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="moveDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA MOVIMIENTO</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.moveDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>USUARIO</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.userName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ACCION">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            <button mat-icon-button *ngIf="element.status != 'S' && arrayPermission.includes('edit')" matTooltip="Agregar KEY" (click)="edit(element)" >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
        <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns"></tr>
      </table>
      <br>
      <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="series.data.length <= 0" style="padding: 1em;">
      <h4 class="mat-h4">No hay datos para mostrar</h4>
    </div>
  </div>
</div>