<div class="grid-container" style="margin-top: 2em;">
    <div class="frow-container">
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-4-12 col-md-4-12">
                <h2 class="mat-h2">Parametrización URL</h2>
            </div>
            <div class="col-sm-1-1 col-sm-5-12 col-md-6-12">
                <mat-form-field [style.fontSize.px]="12" appearance="outline" style="width: 75%;">
                    <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                    <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
                        placeholder="Ejemplo: Mi Claro" />
                    <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
                    <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="queryValue=''; applyFilter() ">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-icon-button  (click)="loadData()" matTooltip="Recargar enlaces" >
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div class="col-sm-1-1 col-sm-3-12 col-md-2-12" style="text-align: right;">
                <button mat-flat-button color="accent" style="margin-right: 8px;" (click)="create()" style="margin-right: 8px;">
                    Agregar
                </button>
            </div>
        </div>
        <br>
        <br>
        <div [ngStyle]="{display: links.data.length > 0 ? 'block' : 'none'}" class="mat-elevation-z4">
            <table mat-table [dataSource]="links" matSort class="fluid" style="margin-bottom: 1.5em;">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>IDENTIFICADOR</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.code }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VALOR</th>
                    <td matTooltip="{{element.code}}" mat-cell *matCellDef="let element">
                        <a href="{{ element.value }}">{{ element.value }}</a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCION</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.description }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="accent" [style.fontSize.px]="12" [matMenuTriggerFor]="menu"
                            aria-label="Opciones">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item matTooltip="Editar enlace" (click)="create(element)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </a>
                            <a mat-menu-item matTooltip="Eliminar enlace" (click)="delete(element)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </a>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
                <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns"></tr>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="links.data.length <= 0" style="padding: 1em;">
            <h3 class="mat-h3">No hay datos para mostrar</h3>
        </div>
    </div>
</div>