<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="2.5em">
      <mat-grid-tile class="justify-start">
        <h1 class="mat-h1" style="margin-bottom: 4px;"><strong>{{ data.name}}</strong> </h1>
      </mat-grid-tile>
      <mat-grid-tile class="justify-end">
        <button mat-icon-button [disabled]="loadedProduct" (click)="uploadConfirmDialog($event,data.sku)" class="focus-disabled" matTooltip="Cargar a inventario local" mat-icon-button aria-label="Upload" *ngIf="arrayPermission.includes('load')">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <button cdkFocusInitial matTooltip="Salir" mat-icon-button aria-label="Exit" (click)="onNoClick()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <h2 class="mat-h2" style="margin-bottom: 0;"><strong>SKU: </strong>{{ data.sku }}</h2>
    <h3 class="mat-h3" style="margin-bottom: 0;"><strong>Descripción: </strong>{{ data.description }}</h3>
    <h3 class="mat-h3" style="margin-bottom: 0;"><strong>Proveedor: </strong>{{ data.supplier_name }}</h3>
    <h3 class="mat-h3" style="margin-bottom: 0;"><strong>Categoria: </strong>{{ data.category_name }}</h3>
    <h3 class="mat-h3"><strong>Precio: </strong>{{ data.price }}</h3>
    <h3 class="mat-h3" style="margin-bottom: 0;">Características</h3>
    <mat-divider></mat-divider>
    <div class="table-container">
      <table mat-table [dataSource]="data.features" class="mat-elevation-z8 full-width-table">
        <ng-container matColumnDef="DESCRIPCION">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="VALUE">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
        <ng-container >
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let element">
            <button matTooltip="Cargar producto" mat-icon-button aria-label="Upload">
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['DESCRIPCION','VALUE']; sticky: true"></tr>
        <tr class="selected-row" mat-row *matRowDef="let row; columns: ['DESCRIPCION','VALUE'];"></tr>
      </table>
    </div>
  </div>
  