.full-width-table{
    width: 100%;
  }
  .table-container{
    height: 300px;
    overflow: auto;
  }
  .grid-tile .mat-figure{
    justify-content: flex-end !important;
  }
  .focus-disabled{
    outline: 0;
  }
  .selected-row:hover{
    background-color: beige;
  }