<div *ngIf="!profile">
  <p>No hay perfil seleccionado</p>
</div>
<div *ngIf="profile">
  <h3 class="mat-h3"><strong>Permisos: </strong> {{ profile.name }}</h3>
  <div class="frow row-start items-stretch">
    <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
      <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Buscar modulo</mat-label>
        <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="Ejemplo: Reporte" />
        <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
        <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
            (click)="queryValue=''; applyFilter() ">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field> 
    </div>
    <!-- <div class="col-xs-1-2 col-sm-1-2 col-md-1-2" style="text-align: right;">
      <button mat-icon-button matTooltip="Guardar permisos" (click)="saveModules()" *ngIf="_profile.status == 'A'">
        <mat-icon>save</mat-icon>
      </button>
    </div>  -->
  </div>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let module of filteredModules" (click)="getActions(module, profile)" style="min-height: 48px; height: 100%; border-top: 1px solid rgba(0, 0, 0, 0.12);">
      <div class="frow row-start items-stretch" matTooltip="Acciones para este modulo">
      <a mat-icon-button aria-label="Upload" *ngIf="arrayPermission.includes('edit')">
        <mat-icon>preview</mat-icon>
      </a>
      <!-- <mat-slide-toggle color="primary" [checked]="module.status == 1 ? true : false" (change)="allowModule($event, module)"
        [disabled]="module.lock == '0' || _profile.status == 'I'"> -->
        <div style="padding: 5px 0 5px 0; ">
          <strong>
            <span [style.fontSize.px]="15">{{module.name}}</span>
          </strong>
          <div>
            <p [style.fontSize.px]="14">{{module.route}}</p>
          </div>
        </div>
      <!-- </mat-slide-toggle> -->
      </div>
    </mat-list-option>
  </mat-selection-list>
  <div *ngIf="filteredModules.length <= 0">
    <h3 class="mat-h3">No hay datos a mostrar</h3>
    <mat-divider></mat-divider>
  </div>
</div>