<div class="grid-container">
    <div class="frow-container">
      <div class="frow row-start">
        <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
          <h2 class="mat-h2">Acciones</h2>
        </div>
        <div class="col-sm-1-1 col-sm-3-12 col-md-3-12">
          <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
            <mat-label [style.fontSize.px]="14">Buscar</mat-label>
            <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
              placeholder="Ejemplo: Crear" />
            <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
            <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
              (click)="queryValue=''; applyFilter() ">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-sm-1-1 col-sm-3-12 col-md-3-12" style="text-align: right;">
          <button mat-flat-button color="accent" (click)="editAction()" *ngIf="arrayPermission.includes('add')" style="margin-right: 8px;">
            Agregar
          </button>
        </div>
      </div>
      <br>
      <div [ngStyle]="{display: actions.data.length > 0 ? 'block' : 'none'}">
        <table mat-table [dataSource]="actions" matSort class="fluid">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td class="cell-pointer" mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
            <td matTooltip="{{element.code}}" class="cell-pointer" mat-cell *matCellDef="let element">
              {{ element.code }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lastModify">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actualizado</th>
            <td class="cell-pointer" mat-cell *matCellDef="let element">
              {{ element.updatedAt }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="cell-pointer" mat-cell *matCellDef="let element">
              <button mat-icon-button  color="accent" [style.fontSize.px]="12" [matMenuTriggerFor]="menu" aria-label="Mas opciones"
                [disabled]="arrayPermission.includes('edit') == false && arrayPermission.includes('delete') == false">
                  <mat-icon>more_vert</mat-icon>
                </button>
                    <mat-menu #menu="matMenu" matTooltip="Ver producto">
                      <a mat-menu-item *ngIf="arrayPermission.includes('edit')"
                        (click)="editAction(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                      </a>
                      <a mat-menu-item color="primary" *ngIf="arrayPermission.includes('delete')"
                        (click)="deleteAction(element.id_action)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                      </a>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['name', 'codigo','lastModify', 'actions']"></tr>
          <tr class="selected-row" mat-row
            *matRowDef="let row; columns: ['name', 'codigo', 'lastModify', 'actions' ]"></tr>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[25, 35, 50]" showFirstLastButtons></mat-paginator>
      </div>
      <div *ngIf="actions.data.length <= 0" style="padding: 1em;">
        <h3 class="mat-h3">No hay datos para mostrar</h3>
      </div>
    </div>
  </div>
