<mat-dialog-content class="mat-typography">
    <mat-progress-bar mode="indeterminate" *ngIf="!loading" style="width: 70%; margin: 1em auto;"></mat-progress-bar>
    <!-- <markdown [data]="mdChangelog" (ready)="onReady()"></markdown> -->
</mat-dialog-content>