<mat-card style="min-height: 250px; padding-bottom: 2em; " class="mat-elevation-z8">

    <h2 class="mat-h2">Carousel</h2>
    <div *ngIf="!loading">
        <div class="frow items-stretch row-start">
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2">
                <h4 class="mat-h4">Tipos de imagenes soportadas</h4>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipos de archivos</mat-label>
                        <mat-select #types (selectionChange)="changeType($event.value, 'carousel')">
                            <mat-option *ngFor="let type of allTypesImageFiles" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Añadir tipo de imagen" (click)="addType('carousel')"
                        [disabled]="selectedType==''">
                        <mat-icon>queue</mat-icon>
                    </button>
                </div>
                <mat-chip-list aria-label="Type selection">
                    <mat-chip *ngFor="let type of props.productImages.types" [removable]="removable"
                        (removed)="removeType(type, 'carousel')">
                        {{type}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2">
                <h4 class="mat-h4">Dimensiones soportadas</h4>
                <div class="frow items-stretch row-start">
                    <div class="col-xs-2-6 col-sm-2-6 col-md-2-6">
                        <mat-form-field appearance="outline" class="fluid">
                            <mat-label>Ancho</mat-label>
                            <input #width matInput type="number" min="0" [(ngModel)]="sizes.width">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-1-6 col-sm-1-6 col-md-1-6" style="text-align: center;">
                        <mat-icon style="    padding-top: .5em; font-size: 2em;">clear</mat-icon>
                    </div>
                    <div class="col-xs-2-6 col-sm-2-6 col-md-2-6">
                        <mat-form-field appearance="outline" class="fluid">
                            <mat-label>Alto</mat-label>
                            <input matInput type="number" min="0" [(ngModel)]="sizes.height"
                                (keyup.enter)="addSize('carousel'); width.focus();">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-1-6 col-sm-1-7 col-md-1-6">
                        <button mat-icon-button matTooltip="Añadir nueva dimension"
                            (click)="addSize('carousel'); width.focus();">
                            <mat-icon>queue</mat-icon>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="fluid">
                    </div>
                    <mat-chip-list aria-label="Size selection">
                        <mat-chip *ngFor="let size of props.productImages.dimensions.sizes" [removable]="removable"
                            (removed)="removeSize(size, 'carousel')">
                            {{size.width + ' x ' + size.height}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div style="padding-top: 3em;">
            <h4 class="mat-h4">Configuraciones generales</h4>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Comparación de dimensiones</mat-label>
                    <mat-select [(ngModel)]="props.productImages.dimensions.comparision">
                        <mat-option *ngFor="let comparision of comparisions" [value]="comparision.value">
                            {{comparision.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="frow row-start">
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-3" style="padding: 0 5px 0 5px;">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>(Kb)-Tamaño minimo de imagen</mat-label>
                        <input matInput type="number" [(ngModel)]="props.productImages.minimunSize">
                    </mat-form-field>
                </div>
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-3" style="padding: 0 5px 0 5px;">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>(Kb)-Tamaño maximo de imagen</mat-label>
                        <input matInput type="number" [(ngModel)]="props.productImages.maximunSize">
                    </mat-form-field>
                </div>
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-3" style="padding: 0 5px 0 5px;">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>Imagenes por carrusel</mat-label>
                        <input matInput type="number" [(ngModel)]="props.productImages.byCarousel">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 2em 0;" *ngIf="loading">
        <mat-progress-bar mode="query"></mat-progress-bar>
    </div>

    <br>
    <h2 class="mat-h2">Generales / Especificas</h2>
    <div *ngIf="!loading">
        <div class="frow items-stretch row-start">
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2">
                <h4 class="mat-h4">Tipos de imagenes soportadas</h4>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipos de archivos</mat-label>
                        <mat-select #types (selectionChange)="changeType($event.value, 'features')">
                            <mat-option *ngFor="let type of allTypesImageFilesFeatures" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Añadir tipo de imagen" (click)="addType('features')"
                        [disabled]="selectedTypeFeature==''">
                        <mat-icon>queue</mat-icon>
                    </button>
                </div>
                <mat-chip-list aria-label="Type selection">
                    <mat-chip *ngFor="let type of props.featureImages.types" [removable]="removable"
                        (removed)="removeType(type,'features')">
                        {{type}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2">
                <h4 class="mat-h4">Dimensiones soportadas</h4>
                <div class="frow items-stretch row-start">
                    <div class="col-xs-2-6 col-sm-2-6 col-md-2-6">
                        <mat-form-field appearance="outline" class="fluid">
                            <mat-label>Ancho</mat-label>
                            <input #widthFeature matInput type="number" min="0" [(ngModel)]="sizeFeature.width">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-1-6 col-sm-1-6 col-md-1-6" style="text-align: center;">
                        <mat-icon style="    padding-top: .5em; font-size: 2em;">clear</mat-icon>
                    </div>
                    <div class="col-xs-2-6 col-sm-2-6 col-md-2-6">
                        <mat-form-field appearance="outline" class="fluid">
                            <mat-label>Alto</mat-label>
                            <input matInput type="number" min="0" [(ngModel)]="sizeFeature.height"
                                (keyup.enter)="addSize('features'); widthFeature.focus();">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-1-6 col-sm-1-7 col-md-1-6">
                        <button mat-icon-button matTooltip="Añadir nueva dimension"
                            (click)="addSize('features'); widthFeature.focus();">
                            <mat-icon>queue</mat-icon>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="fluid">
                    </div>
                    <mat-chip-list aria-label="Size selection">
                        <mat-chip *ngFor="let size of props.featureImages.dimensions.sizes" [removable]="removable"
                            (removed)="removeSize(size,'features')">
                            {{size.width + ' x ' + size.height}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div style="padding-top: 3em;">
            <h4 class="mat-h4">Configuraciones generales</h4>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Comparación de dimensiones</mat-label>
                    <mat-select [(ngModel)]="props.featureImages.dimensions.comparision">
                        <mat-option *ngFor="let comparision of comparisions" [value]="comparision.value">
                            {{comparision.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="frow row-start">
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-3" style="padding: 0 5px 0 5px;">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>(Kb)-Tamaño minimo de imagen</mat-label>
                        <input matInput type="number" [(ngModel)]="props.featureImages.minimunSize">
                    </mat-form-field>
                </div>
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-3" style="padding: 0 5px 0 5px;">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>(Kb)-Tamaño maximo de imagen</mat-label>
                        <input matInput type="number" [(ngModel)]="props.featureImages.maximunSize">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="fluid" style="text-align: right; padding-top: 10px;">
            <button mat-flat-button color="accent" (click)="saveProperties()" *ngIf="arrayPermission.includes('edit')">Guardar</button>
        </div>
    </div>
    <div style="padding: 2em 0;" *ngIf="loading">
        <mat-progress-bar mode="query"></mat-progress-bar>
    </div>


</mat-card>