.sidenav-container{
    height: 100%;
  }
  
  .sidenav{
    width: 250px;
    background-color: #fafafa;
  }
  
  .sidenav .mat-toolbar{
    background: inherit;
  }
  
  .mat-toolbar.mat-primary{
    position: sticky;
    top: 0;
    z-index: 1;
  
  }
  .version-tlbo{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 1em;
  }
  .selected-row:hover{
    background-color: beige;
  
  }
  .item .mat-list-item-content{
      padding: 0!important;
  }
  
  a .item:focus{
      background: none;
  }

  
  .spacer {
    flex: 1 1 auto;
  }

  .version{
    position: fixed;
    bottom: 0;
    right: 1px;
  }
  
