<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #appDrawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
    *ngIf="currentUser && !closing"
    [opened]="(isHandset$ | async) === false" >
    <div style="text-align: center; padding-top: 1em;">
      <mat-icon [style.fontSize.px]="32">account_circle</mat-icon>
      <h4 class="mat-h4" style="margin-bottom: 0;"><strong>{{currentUser.userName}} </strong> | {{country}}</h4>
      <h4 class="mat-h4">{{currentUser.name}} </h4>
      <mat-divider></mat-divider> 
    </div> 
    <mat-nav-list>
      
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      <a mat-list-item class="menu-list-item" [routerLink]="['logout']">
        <mat-icon class="routeIcon" style="margin-right: 1em; width: 18px; height: 18px; font-size:1em">
          exit_to_app</mat-icon>
        <span [style.fontSize.px]="14">Salir</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white;">
    <mat-toolbar color="primary" style="z-index: 99;" *ngIf="currentUser && !closing ">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="appDrawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Landing Page</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <app-breadcrumb *ngIf="currentUser && !closing"></app-breadcrumb>
    <div style="width: 100%; height: auto;">
      <router-outlet></router-outlet>
      <div class="version" (click)="showChangelog()">{{" "}}</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>