<div class="grid-container">
    <div class="frow-container">
        <h2 class="mat-h2">Versiones</h2>
        <div class="frow row-start fluid">
            <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" [style.fontSize.px]="11">
                    <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                    <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
                        placeholder="Ejemplo: ZZ001MSC73" />
                    <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
                    <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="queryValue=''; applyFilter() ">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-icon-button (click)="load()" matTooltip="Recargar listado de versiones">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div class="col-xs-1-1 col-sm-1-2 col-md-1-2" style="text-align: right;">
                <button mat-flat-button color="accent" (click)="createVersion()" *ngIf="arrayPermission.includes('add')">
                    Nueva Version
                </button>
            </div>
        </div>
        <mat-list role="list">
            <mat-list-item *ngFor="let version of filteredVersions; let idx= index" role="listitem" class="divider-bottom selected-row "
                style="height: 100%;padding-bottom: 10px; padding-top: 10px; ">
                <div class="frow row-start fluid">
                    <div class="col-xs-1-1 col-sm-1-2 col-md-1-2 pointer" (click)="version.display = !version.display">
                        <div class="frow row-start fluid">
                            <div class="col-xs-1-12 col-sm-1-12 col-md-1-12">
                                <h2 class="mat-h2" style="margin: 0 !important;">{{(idx+1)}}</h2>
                            </div>
                            <div class="col-xs-11-12 col-sm-11-12 col-md-11-12">
                                <div>
                                    <p style="display: inline-block !important;">
                                        <a [routerLink]="[version.versionId]" >{{version.name}}</a></p>
                                    <p  style="display: inline-block !important;">
                                        <mat-icon *ngIf="version.versionStatus=='C'" matTooltip="{{versionStatus(version)}}"  style="color:#0077b6">check_circle</mat-icon>
                                        <mat-icon *ngIf="version.versionStatus=='F'"  matTooltip="{{versionStatus(version)}}" style="color:#e63946">warning</mat-icon>
                                        <mat-icon *ngIf="version.versionStatus=='P'"  matTooltip="{{versionStatus(version)}}"  style="color:#fca311">sync_alt</mat-icon>
                                        <mat-icon *ngIf="version.status=='V'"  matTooltip="Version verificada" style="color:#2a9d8f">verified</mat-icon>
                                    </p>
                                </div>
                                <p [style.fontSize.px]="12">{{version.lastUpdate}}</p>
                            </div>
                        </div>

                        <div>
                            <stepper-custom *ngIf="version.status != 'I' && version?.display" [status]="version.status">
                            </stepper-custom>
                        </div>
                    </div>
                    <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
                        <div class="icons">
                            <button mat-flat-button  color="accent" *ngIf="['A','U','V'].includes(version.status) && !['P'].includes(version?.versionStatus) && (arrayPermission.includes('add') || arrayPermission.includes('edit') )"
                                (click)="toUat(version)">A UAT</button>
                            <button mat-flat-button color="accent" *ngIf="['U'].includes(version.status) && !['P'].includes(version?.versionStatus) && arrayPermission.includes('validate') "
                                (click)="toValidation(version)">Validar</button>
                            <button mat-flat-button color="accent" *ngIf="version.status=='V' && !['P'].includes(version?.versionStatus) && arrayPermission.includes('validate') "
                                (click)="toProd(version)">Programar</button>
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Mas opciones">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                        <mat-menu #menu="matMenu" matTooltip="Ver producto">
                            <a mat-menu-item [routerLink]="[version.versionId]">
                                <mat-icon>visibility</mat-icon>
                                <span>Ver Detalle</span>
                            </a>
                            <a mat-menu-item [disabled]="['B','I'].includes(version.status)"
                                (click)="updateVersion(version)" *ngIf="arrayPermission.includes('edit')">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </a>
                            <a mat-menu-item color="primary" [disabled]="['B','I'].includes(version.status)"
                                (click)="deleteVersion(version)" *ngIf="arrayPermission.includes('delete')">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </a>
                        </mat-menu>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
        <br>
        <div *ngIf="filteredVersions.length <= 0" style="padding: 1em;">
            <h3 class="math-h3">No hay datos para mostrar</h3>
        </div>
    </div>
</div>