.icons {
    text-align: right;
}
.icons > button {
    margin-left: 5px;
}

.divider-bottom{
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


p .mat-icon{
    font-size: 18px;
    height: 18px;
    margin-left: 5px; 
}