<div>
  <div class="frow row-start">
    <div class="col-sm-1-2 col-md-1-2">
      <mat-form-field appearance="outline" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Versiones</mat-label>
        <mat-select [(value)]="selectedVersion" (selectionChange)="versionChange()" [disabled]="versions?.length <= 0"
          [class.spinner]="loadVersions">
          <mat-option *ngFor="let version of versions" [value]="version">
            {{version.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="loadProduct()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="col-sm-1-2 col-md-1-2" style="text-align: right; padding-bottom:1em; padding-top: 1em;">
      <button mat-flat-button color="accent" (click)="saveProduct()"
        [disabled]="!validatePrice() || nameFormControl.invalid || publicPriceFormControl.invalid || offerPriceFormControl.invalid || formGroupId.invalid" *ngIf="nonProduct && arrayPermission.includes('edit')" >Guardar</button>
    </div>
  </div>

  <div *ngIf="nonProduct">
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Nombre</mat-label>
      <input matInput [formControl]="nameFormControl" placeholder="" [(ngModel)]="product.name">
      <mat-error *ngIf="nameFormControl.hasError('required')" style="padding-bottom: 5px;">
        Nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <div class="frow row-start">
      <div class="col-sm-1-1 col-md-1-2">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
          <mat-label [style.fontSize.px]="14">Categoria</mat-label>
          <mat-select [(ngModel)]="selectedCategory" (selectionChange)="changeCategory($event.value)"
            [compareWith]="compareCategoriesWhithId">
            <mat-option *ngFor="let categoryItem of categories" [value]="categoryItem">
              {{categoryItem.name}}
            </mat-option>

          </mat-select>
          <button mat-icon-button matSuffix matTooltip="Ver plantilla de la categoria"
            (click)="$event.stopPropagation();showTemplateCategory( product.category);" mat-icon-button
            aria-label="see">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-form-field>

      </div>
      <div class="col-sm-1-1 col-md-1-2">

        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
          <mat-label [style.fontSize.px]="14">Marca</mat-label>
          <mat-select [(ngModel)]="product.brand">
            <mat-option *ngFor="let brand of brands" [value]="brand.id">
              {{brand.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div class="frow row-start">
      <div class="col-sm-1-1 col-md-1-3">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
          <mat-label [style.fontSize.px]="14">Precio proveedor</mat-label>
          <input matInput [formControl]="priceFormControl" name="price" type="text" [(ngModel)]='product.price'>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-md-1-3">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
          <mat-label [style.fontSize.px]="14">Precio lista</mat-label>
          <input (focusout)="focusOutPublicPrice()" matInput [formControl]="publicPriceFormControl" type="text"
            [(ngModel)]="product.sale_price" [disableControl]="idDisabledPrice">
          <mat-error *ngIf="publicPriceFormControl.hasError('required')" style="padding-bottom: 5px;">
            Es requerido un <strong>precio</strong>
          </mat-error>
          <mat-error *ngIf="publicPriceFormControl.hasError('pattern')" style="padding-bottom: 5px;">
            Formato invalido de <strong>precio</strong>
          </mat-error>
          <mat-error *ngIf="publicPriceFormControl.hasError('priceValidator')" style="padding-bottom: 5px;">
            Precio debe ser mayor al <strong>precio del proveedor</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-md-1-3">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
          <mat-label [style.fontSize.px]="14">Precio oferta</mat-label>
          <input matInput (focusout)="focusOutOfferPrice()" type="text" [formControl]="offerPriceFormControl"
            [(ngModel)]='product.offer_price' [disableControl]="idDisabledPrice">
          <mat-error *ngIf="offerPriceFormControl.hasError('pattern')" style="padding-bottom: 5px;">
            Formato invalido de <strong>precio</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="frow row-start">
      <div class="col-sm-1-1 col-md-1-2">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12"
          *ngIf="['PLAN', 'ADDONS'].includes(selectedCategory.categoryType)">
          <mat-label [style.fontSize.px]="14">TM code</mat-label>
          <input matInput placeholder="" [ngModel]="product.tmCode" disabled>
           <!--  <a mat-icon-button matSuffix matTooltip="Configurar plan" mat-icon-button aria-label="see" [routerLink]="[sku, product.tmCode == '' ? 'undefined' : product.tmCode]"
              (click)="openTMCodeDialog()">
              <mat-icon>visibility</mat-icon>
            </a> -->
            <!-- <a mat-icon-button matSuffix matTooltip="Configurar plan" mat-icon-button aria-label="see" 
            (click)="openTMCodeDialog()">
            <mat-icon>visibility</mat-icon>
          </a> -->
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-md-1-2">
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12"
          *ngIf="['PLAN'].includes(selectedCategory.categoryType)">
          <mat-label [style.fontSize.px]="14">SKU SIM</mat-label>
          <input matInput placeholder="" [(ngModel)]="product.skuSim" disabled>
          <button mat-icon-button matSuffix matTooltip="Ver productos" mat-icon-button aria-label="see"
            (click)="openCatalogDialog()">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Agrupador *</mat-label>
      <input matInput placeholder="" [(ngModel)]="product.group_id" [formControl]="formGroupId">
      <button mat-icon-button matSuffix matTooltip="Ver agrupadores" mat-icon-button aria-label="see"
        (click)="openGroupersDialog()" *ngIf="tempGroupId=='' || formGroupId.invalid">
        <mat-icon>visibility</mat-icon>
      </button>
      <mat-error *ngIf="formGroupId.hasError('required')" style="padding-bottom: 5px;">
        Agrupador es requerido
      </mat-error>
      <mat-error *ngIf="formGroupId.hasError('grouperValidator')" style="padding-bottom: 5px;">
        Agrupador no es valido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Descripción</mat-label>
      <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="12" cdkAutosizeMaxRows="12"
        [(ngModel)]="product.description"></textarea>
    </mat-form-field>
  </div>
</div>
<div *ngIf="!nonProduct && !flagEnabledModify">
  <p>No hay datos a mostrar</p>
</div>