<mat-card class="mat-elevation-z8">

    <div *ngIf="!loading">
        <div class="frow row-start" style="padding-bottom: 1em;">
            <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 ">
                <h2 class="mat-h2">SIM por defecto</h2>

            </div>
            <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 ">
                <!-- <button mat-raised-button color="accent" style="float: right;">Guardar</button> -->
                <button mat-mini-fab matTooltip="Guardar configuración" aria-label="see" style="float: right;" >
                    <mat-icon>save</mat-icon>
                  </button>
            </div>
        </div>
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">SKU *</mat-label>
            <input matInput placeholder="" [(ngModel)]="defaultSku">
            <button mat-icon-button matSuffix matTooltip="Seleccionar SIM" aria-label="see"
                (click)="openCatalogDialog()">
                <mat-icon>visibility</mat-icon>
            </button>
            <!-- <mat-error *ngIf="formGroupId.hasError('required')" style="padding-bottom: 5px;">
              Agrupador es requerido
            </mat-error>
            <mat-error *ngIf="formGroupId.hasError('grouperValidator')" style="padding-bottom: 5px;">
              Agrupador no es valido
            </mat-error> -->
        </mat-form-field>
    </div>

    <div style="padding: 2em 0;" *ngIf="loading">
        <mat-progress-bar mode="query"></mat-progress-bar>
    </div>

    <div style="padding: 1em 0; ">
        <h4 class="mat-h3" *ngIf="!loading && !skuLoaded">
            SKU no configurado
        </h4>
    </div>

</mat-card>