<h2 mat-dialog-title>{{ (profile.id_profile == 0 ? 'Nuevo' : 'Editar ') }} Perfil</h2>
<mat-dialog-content [style.fontSize.px]="14">
  <form (ngSubmit)="saveProfile()" [formGroup]="profileForm">
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Nombre</mat-label>
      <input matInput [formControl]="name" placeholder="" [(ngModel)]="profile.name">
      <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
        Nombre es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="name.hasError('pattern')" style="padding-bottom: 5px;">
        Nombre no puede ir vacio
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Descripción</mat-label>
      <textarea [formControl]="description" matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="8" [(ngModel)]="profile.description"></textarea>
      <mat-error *ngIf="description.hasError('pattern')" style="padding-bottom: 5px;">
        Descripción no puede ser espacios vacios
      </mat-error>
    </mat-form-field>
    <div>
      <mat-checkbox *ngIf="['E'].includes(currentUser?.profileType)" formControlName="type" [style.fontSize.px]="14">
        Perfil especial?</mat-checkbox>
    </div>
    <button type="submit" hidden [disabled]="!profileForm.valid"></button>
    <br>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" [disabled]="!profileForm.valid"
    (click)="saveProfile()">{{ (profile.id_profile == 0 ? 'Guardar' : 'Actualizar') }}</button>
  <button mat-flat-button color="warn" (click)="onNoClick()">Salir</button>
</mat-dialog-actions>