<div class="grid-container">
    <br>
    <div class="frow-container">
        <div class="frow row-start items-stretch">
            <div class="col-xs-1-1 col-sm-2-5 col-md-2-5"
                style=" padding-bottom: 2em; padding-left: 5px; padding-right: 5px;">
                <div style="margin-right: 1em; height: 100%; border-right: 1px solid rgba(0, 0, 0, 0.12);">
                    <h3 class="mat-h3">Perfiles </h3>
                    <div class="frow row-start items-stretch">
                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                            <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
                                <mat-label [style.fontSize.px]="14">Buscar perfil</mat-label>
                                <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="Ejemplo: Admin" />
                                <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
                                <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="queryValue=''; applyFilter() ">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field> 
                        </div>
                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2" style="text-align: right;">
                            <button mat-icon-button matTooltip="Añadir un nuevo perfil" (click)="createForm()" *ngIf="arrayPermission.includes('add')">
                                <mat-icon>queue</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="filteredProfiles?.length > 0">
                        <mat-selection-list #userProfiles [multiple]="false" [(ngModel)]="selectedProfiles">
                            <mat-list-option
                                style="min-height: 48px; height: 100%; border-top: 1px solid rgba(0, 0, 0, 0.12);"
                                *ngFor="let profile of filteredProfiles" [value]="profile">
                                <div style="padding-top: 8px; height: 100%; ">
                                    <div class="frow row-start items-stretch">
                                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                                            <p [style.fontSize.px]="15">{{ profile.name + ' | ' }}
                                                <strong [style.fontSize.px]="12"
                                                    [ngStyle]="{'color': profile.status == 'A' ? 'green' : profile.status=='I'? 'orange': ''}">{{(profile.status=='A' ? 'Activo' : profile.status=='I' ? 'Inactivo': 'No definido') }}</strong>
                                            </p>
                                            <p [style.fontSize.px]="12" style="padding-left: 5px;">
                                                {{ profile.description }} </p>
                                        </div>
                                        <div class="col-xs-1-2 col-sm-1-2 col-md-1-2" style="text-align: right;">
                                            <button mat-icon-button (click)="onEdit($event, profile)"
                                                matTooltip="Editar perfil" *ngIf="arrayPermission.includes('edit')">
                                                <mat-icon [style.fontSize.px]="24">edit</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="allowProfile($event, profile)"
                                                matTooltip="{{getStatusTooltip(profile)}}" *ngIf="arrayPermission.includes('edit')"
                                                [ngStyle]="{'color': profile.status == 'A' ? 'green' : profile.status=='I'? 'red': ''}">
                                                <mat-icon [style.fontSize.px]="24">
                                                    {{ (profile.status=='A' ? 'lock_open' : profile.status=='I' ? 'lock': 'warning')  }}
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                    <div *ngIf="filteredProfiles?.length <= 0">
                        <br>
                        <p>No hay datos a mostrar</p>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
            <div class="col-xs-1-1 col-sm-3-5 col-md-3-5" style="padding-bottom: 2em;">
                <ecom-permissions [profile]="(selectedProfiles[0])"></ecom-permissions> 
            </div>
        </div>
    </div>
</div>
