<div class="frow-container" style="padding-top: 2em;">
  <div class="frow">
      <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
          <div class="closing-box" style="text-align: center;">
              <br>
              <h4 class="mat-h4">La aplicación ha fallado!!!</h4>
              <br>
              <button mat-raised-button color="primary" (click)="logout()">
                Salir
              </button>
              <mat-divider></mat-divider>
          </div>
      </div>
  </div>
</div>