<div class="frow-container grid-container">
    <div class="frow row-start">
        <div class="col-sm-1-1 col-sm-4-12 col-md-4-12">
            <h2 class="mat-h2">Características</h2>
        </div>
        <div class="col-sm-1-1 col-sm-5-12 col-md-6-12">
            <mat-form-field [style.fontSize.px]="12" appearance="outline" style="width: 75%;">
                <mat-label [style.fontSize.px]="14">Buscar caracteristica</mat-label>
                <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
                    placeholder="" />
                <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
                <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="queryValue=''; applyFilter() ">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-icon-button  (click)="loadFeatures()" matTooltip="Recargar caracteristicas" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <div class="col-sm-1-1 col-sm-3-12 col-md-2-12" style="text-align: right;">
            <button mat-flat-button color="accent" style="margin-right: 8px;" (click)="edit()" *ngIf="arrayPermission.includes('add')">
                Agregar
            </button>
        </div>
    </div>
    <br>
    <div [ngStyle]="{display: features.data.length > 0 ? 'block' : 'none'}">

        <table mat-table [dataSource]="features" matSort class="fluid ">
            <ng-container matColumnDef="traduction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
                <td class="cell-pointer" mat-cell *matCellDef="let element">
                    {{ element.traduction  }}
                </td>
            </ng-container>
            <ng-container matColumnDef="text">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>IDENTIFICADOR</th>
                <td class="cell-pointer" mat-cell *matCellDef="let element">
                    {{ element.text  }}
                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCION</th>
                <td class="cell-pointer" mat-cell *matCellDef="let element">
                    {{ element.description  }}
                </td>
            </ng-container>
            <ng-container matColumnDef="lastModify">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTUALIZADO</th>
                <td class="cell-pointer" mat-cell *matCellDef="let element">
                    {{ element.lastModify }}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td class="cell-pointer" mat-cell *matCellDef="let element">
                    <button mat-icon-button  color="accent" [style.fontSize.px]="12" [matMenuTriggerFor]="menu" aria-label="Mas opciones"
                        [disabled]="arrayPermission.includes('edit') == false && arrayPermission.includes('delete') == false">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" matTooltip="Ver producto">
                        <button mat-menu-item *ngIf="arrayPermission.includes('edit') && element.lock==0"
                            (click)="edit(element)">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item *ngIf="arrayPermission.includes('edit') && element.lock==1"
                            (click)="edit(element)">
                            <mat-icon>visibility</mat-icon>
                            <span>Ver</span>
                        </button>
                        <button mat-menu-item color="primary" *ngIf="arrayPermission.includes('delete')"
                            (click)="deleteFeature(element)" [disabled]="element.lock==1">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="selected-row" mat-row *matRowDef="let row; columns: displayedColumns">
            </tr>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[25, 35, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="features.data.length <= 0" style="padding: 1em;">
        <h3 class="mat-h3">No hay datos para mostrar</h3>
    </div>
</div>