<a mat-list-item 
    [ngStyle]="{'padding-left': (depth > 0 ? (depth * 16): (depth*16)) + 'px','border-bottom':
    item.children ? item.children.length > 0 ? '1px solid rgba(0, 0, 0, 0.12)' : 'none' : 'none'}"
    (click)="onItemSelected(item)"
    
    class="menu-list-item">
  <mat-icon class="routeIcon" style="margin-right: 1em; width: 18px; height: 18px; font-size:1em" >{{item.icon}}</mat-icon>
  <span [style.fontSize.px]="14">{{item.title}}</span>
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon  [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon> 
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>
<!-- [ngClass]="{'myselectedd': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}" -->
