<h3 mat-dialog-title class="mat-h3">Autorizar orden</h3>
<!-- <form [formGroup]="versionForm" (ngSubmit)="save()">
    <mat-dialog-content [style.fontSize.px]="12">
        <mat-form-field appearance="outline" class="fluid">
            <mat-label [style.fontSize.px]="14">Nombre</mat-label>
            <input matInput formControlName="name" placeholder="">
            <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
                Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
                Supero 254 maximo de caracteres
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Versiones</mat-label>
            <mat-select formControlName="frmVersion" [class.spinner]="loadVersions">
                <mat-option>Sin versión</mat-option>
                <mat-option *ngFor="let version of versions" [value]="version.versionId">
                    {{version.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button color="accent" [disabled]="versionForm.invalid">{{ version ? 'Actualizar': 'Guardar'
            }}</button>
        <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
    </mat-dialog-actions>
</form> -->
<form>
    <mat-dialog-content>
        <div class="frow" >
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2 col-lg-1-2">
                <p style="font-size: 14px;"> 
                    <strong>Cliente: </strong> {{order.userName}}
                </p>
                <p style="font-size: 14px;">
                    <strong>Contacto:</strong> {{order.contactTelephone}}
                </p>
            </div>
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2 col-lg-1-2">
                <p style="font-size: 14px;">
                    <strong>Correo: </strong> {{order.userEmail}}
                </p> 
            </div>
        </div>
        <div style="padding: 1em 0;">
            <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
                <mat-label [style.fontSize.px]="14">Resultado</mat-label>
                <mat-select >
                    <mat-option value="0">Rechazada</mat-option>
                    <mat-option value="1">Autorizada</mat-option>

                    <!-- <mat-option *ngFor="let version of versions" [value]="version.versionId">
                        {{version.name}}
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="14">
                <mat-label >Nombre</mat-label>
                <input matInput placeholder="">
                <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
                    Nombre es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
                    Supero 254 maximo de caracteres
                </mat-error>
            </mat-form-field> -->
            <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="14">
                <mat-label [style.fontSize.px]="14">Motivo</mat-label>
                <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="8"></textarea>
              </mat-form-field>
        </div>
        
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button color="accent" >Guardar</button>
        <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
    </mat-dialog-actions>
</form>