<div class="grid-container">
    <div class="frow-container">
        <div class="frow row-start items-stretch" style="padding-top: 1em;">
            <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                <h2 class="mat-h2">Usuarios </h2>
            </div>
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2" style="text-align: right;">
                <div class="frow row-start items-stretch" style="padding: 1em 0 ;">
                    <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                        <mat-form-field class="fluid" [style.fontSize.px]="12" appearance="outline">
                            <mat-label [style.fontSize.px]="14">Buscar usuario</mat-label> 
                            <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="Ejemplo: Administrador" />
                            <mat-icon matSuffix *ngIf="queryValue == ''">search</mat-icon>
                            <button mat-button *ngIf="queryValue != ''" matSuffix mat-icon-button aria-label="Clear"
                                (click)="queryValue = ''; applyFilter() ">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                        
                        <button mat-raised-button color="accent" (click)="createForm()" *ngIf="arrayPermission.includes('add')">
                            Nuevo
                        </button>
                        <button mat-icon-button  *ngIf="users?.length > 0 "  matTooltip="Descargar usuarios" (click)="downloadCsv()"  style="margin-left: 10px;">
                            <mat-icon>save_alt</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div [ngClass]="{'hide':dataSource.data.length > 0}">
            <h3 class="mat-h3">No hay datos a mostrar</h3>
            <mat-divider></mat-divider>
        </div>
        <div [ngClass]="{'hide':dataSource.data.length <= 0}">
            <table mat-table [dataSource]="dataSource" class=" fluid" matSort>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;"> NOMBRES </th>
                    <td class="selected-row" mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;"> USUARIO </th>
                    <td class="selected-row" mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>
                
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;"> CORREO </th>
                    <td class="selected-row" mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="domain">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;"> DOMINIO </th>
                    <td class="selected-row" mat-cell *matCellDef="let element"> {{element.isoCode}} </td>
                </ng-container>
                <ng-container matColumnDef="update_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;"> MODIFICACION </th>
                    <td class="selected-row" mat-cell *matCellDef="let element"> {{element.updatedAt}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef style="color: black;"> ESTADO </th>
                    <td class="selected-row" mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip class="cursor-pointer" *ngIf="arrayPermission.includes('edit')" (click)="allowUser(element)"
                                matTooltip="{{getStatusTooltip(element)}}"
                                [ngStyle]="{'background-color': element.status=='A' ? 'green' : element.status== 'I' ? 'orange': ''}"
                                style="color:#fff; " aria-label="Inactivo" [style.fontSize.px]="12">
                                {{ (element.status=='A' ? 'Activo' : element.status== 'I' ? 'Inactivo': 'No definido')  }}
                            </mat-chip>
                        </mat-chip-list>
                        <mat-chip-list>
                            <mat-chip class="cursor-pointer" *ngIf="arrayPermission.includes('edit') == false"
                                [ngStyle]="{'background-color': element.status=='A' ? 'green' : element.status== 'I' ? 'orange': ''}"
                                style="color:#fff; " aria-label="Inactivo" [style.fontSize.px]="12">
                                {{ (element.status=='A' ? 'Activo' : element.status== 'I' ? 'Inactivo': 'No definido')  }}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <ng-container matColumnDef="ACCION">
                    <th mat-header-cell *matHeaderCellDef style="color: black;"></th>
                    <td class="selected-row " mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="" [style.fontSize.px]="12"
                            [matMenuTriggerFor]="menu" *ngIf="arrayPermission.includes('edit')" aria-label="Mas opciones"
                            [disabled]="arrayPermission.includes('edit') == false">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" matTooltip="Ver producto">
                            <a mat-menu-item *ngIf="arrayPermission.includes('edit')"
                                (click)="onEdit(element)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </a>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
                <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
            </table>
            <div>
                <mat-paginator style="background: none;padding: 2em 0;" [pageSizeOptions]="viewOptions.pageSize">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>