.grid-container {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .breadcrumbs-category {
    list-style: none;
  
  }
  
  
  .breadcrumbs-category > li {
    display: inline-block;
    padding-left: 5px;
  }