<div class="frow-container grid-container">
  <h1 class="mat-h1" #featuresTemplate>Categorías</h1>
  <div class="frow items-stretch row-start">
    <div class="col-xs-1-1 col-sm-1-1 col-md-1-2 col-lg-1-2  my-10">
      <mat-card style="padding: 0; height: 100%;">
        <mat-card-header style="background-color: rgba(0, 0, 0, 0.03); padding: 10px 10px 0 10px;">
        </mat-card-header>
        <mat-card-content style="padding: 10px;">
          <div *ngIf="this.treeControl.dataNodes.length > 0 ">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"><mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <div>
                  <button style="min-width: 24px;" mat-icon-button *ngIf="node.children.length <= 0">
                    <mat-icon style="font-size: .8em;" class="mat-icon-rtl-mirror">
                      remove
                    </mat-icon>
                  </button>
                  <button *ngIf="node.children.length > 0" mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.filename">
                    <mat-icon style="font-size: 1.3em;" class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  <mat-checkbox #refCategory *ngIf="node.idCategory !== '-1'" (click)="onClickCategory($event,node)"
                    [checked]="node.checked">
                  </mat-checkbox>
                  <span style="padding-left: 10px;">
                    {{ node.name + ' | ' + node.categoryType}}
                  </span>
                  <button mat-icon-button [matMenuTriggerFor]="menu"  *ngIf="( arrayPermission.includes('add') || arrayPermission.includes('edit') || arrayPermission.includes('delete')) && node.idCategory !== '-1' ">
                    <mat-icon style="font-size: 20px;">more_vert</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"  *ngIf=" arrayPermission.includes('add') && node.idCategory == '-1' ">
                    <mat-icon style="font-size: 20px;">more_vert</mat-icon>
                  </button>
                  <button mat-icon-button (click)="loadingCategories()" *ngIf="node.idCategory == '-1'" matTooltip="Recargar categorías">
                    <mat-icon>refresh</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="add(node)" *ngIf="arrayPermission.includes('add')">
                      <mat-icon>add</mat-icon>
                      <span>Nueva categoría</span>
                    </button>
                    <button *ngIf="node.idCategory !== '-1' && arrayPermission.includes('edit')" mat-menu-item (click)="update(node)">
                      <mat-icon>edit</mat-icon>
                      <span>Editar categoría</span>
                    </button>
                    <button *ngIf="node.idCategory !== '-1' && arrayPermission.includes('delete')" matTooltip="" mat-menu-item
                      (click)="removeNodeCategory(node)">
                      <mat-icon style="font-size: 1.3em;">delete</mat-icon>
                      <span>Eliminar categoría</span>
                    </button>
                  </mat-menu>
                </div>
              </mat-tree-node>
            </mat-tree>
          </div>
          <div *ngIf="this.treeControl.dataNodes.length <= 0 " style="padding: 1em">
            <p><Strong>Categorias</Strong> no estan disponibles</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-1-1 col-sm-1-1 col-md-1-2 col-lg-1-2  my-10"
      [ngStyle]="{display: selectedCategoryNode != null ? 'block' : 'none'}">
      <mat-card style="padding: 0; height: 100%;">
        <mat-card-header style="background-color: rgba(0, 0, 0, 0.03); padding: 10px 10px 0 10px;">
        </mat-card-header>
        <mat-card-content style="padding: 10px;">
          <div class="frow items-stretch">
            <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2">
              <h3 class="mat-h3">Características para:
                <strong>{{ selectedCategoryNode == null ? '' : selectedCategoryNode.name}}</strong></h3>
            </div>
            <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2" style="text-align: right;">
              <button mat-icon-button
                (click)="showValidFeatures(selectedCategoryNode != null ? selectedCategoryNode.idCategory: '')" *ngIf="arrayPermission.includes('edit')">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-raised-button class="black-button" (click)="saveFeaturesTemplate()"
                [disabled]="validateFeaturesChanges()" *ngIf="arrayPermission.includes('edit')">Guardar</button>
            </div>
          </div>
          <mat-progress-bar mode="query" *ngIf="flagFoadingFeatures"></mat-progress-bar>
          <div [ngStyle]="{display: (!flagFoadingFeatures && features.data.length > 0) ? 'block' : 'none'}">
            <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
              <mat-label [style.fontSize.px]="14">Buscar</mat-label>
              <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="" />
              <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
              <a mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                (click)="queryValue=''; applyFilter() ">
                <mat-icon>close</mat-icon>
              </a>
            </mat-form-field>
            <table mat-table matSort [dataSource]="features" class=" fluid">
              <ng-container matColumnDef="STATUS">
                <!-- <th mat-header-cell *matHeaderCellDef></th> -->
                <td class="cell-pointer" mat-cell *matCellDef="let element" matTooltip='{{element.description}}'>
                  <mat-icon style="font-size: 16px " *ngIf="element.status == 1"
                    matTooltip="Se eliminara la característica" aria-hidden="false" aria-label="Delete">
                    delete
                  </mat-icon>
                  <mat-icon style="font-size: 16px " *ngIf="element.status == 2"
                    matTooltip="Se actualizara la característica" aria-hidden="false" aria-label="Update">
                    autorenew
                  </mat-icon>
                  <mat-icon style="font-size: 16px " *ngIf="element.status == 3"
                    matTooltip="Se agregara nueva característica" aria-hidden="false" aria-label="New">
                    create_new_folder
                  </mat-icon>
                  <mat-icon style="font-size: 16px" *ngIf="element.status == 0 || element.status == 4"
                    matTooltip="Ninguna acción" aria-hidden="false" aria-label="No Action">
                    panorama_fish_eye
                  </mat-icon>
                </td>
              </ng-container>
              <ng-container matColumnDef="DESCRIPCION">
                <!-- <th mat-header-cell *matHeaderCellDef> </th> -->
                <td class="cell-pointer" mat-cell *matCellDef="let element" matTooltip='{{element.description}}'> {{element.traduction}}
                </td>
              </ng-container>
              <ng-container matColumnDef="TEXT">
                <!-- <th mat-header-cell *matHeaderCellDef> </th> -->
                <td class="cell-pointer" mat-cell *matCellDef="let element" matTooltip='{{element.description}}'> {{element.text}}
                </td>
              </ng-container>
              <ng-container matColumnDef="select">
               <!--  <th mat-header-cell *matHeaderCellDef>
                </th> -->
                <td class="cell-pointer" mat-cell *matCellDef="let element">
                  <mat-checkbox #featureChBox [checked]="element.selected" *ngIf="arrayPermission.includes('edit')"
                    [disabled]="element.category != selectedCategoryNode.idCategory" (click)="$event.preventDefault()">
                  </mat-checkbox>
                </td>
              </ng-container>
              <!-- <tr mat-header-row *matHeaderRowDef="['STATUS','DESCRIPCION',  'select'];"></tr> -->
              <tr class="selected-row" mat-row *matRowDef="let row; columns: ['STATUS','DESCRIPCION', 'TEXT', 'select'];"
                (click)="selectFeature(row)"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
          </div>
          <div *ngIf="!flagFoadingFeatures && features.data.length <= 0 ">
            <p>No hay caracteristicas asociadas</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>