<h3 mat-dialog-title>SIM</h3>
<mat-dialog-content [style.fontSize.px]="14" >
    <div style="display: block; margin: 1em 0;">
        <mat-progress-bar mode="indeterminate" value="40" *ngIf="viewOptions.loading"></mat-progress-bar>
        <!-- <p *ngIf=" sims.length <= 0" style="display: block; text-align: center;">No se encontraron datos</p> -->
        <div *ngIf="simsDataSource.data.length <= 0" style="padding: 1em;">
            <h3 class ="mat-h3">No hay datos para mostrar</h3>
          </div>
        <div  [ngStyle]="{display: !viewOptions.loading && simsDataSource.data.length > 0 ? 'block' : 'none'}" >
            <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
              <mat-label [style.fontSize.px]="14">Buscar</mat-label>
              <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="" />
              <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
              <a mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                (click)="queryValue=''; applyFilter() ">
                <mat-icon>close</mat-icon>
              </a>
            </mat-form-field>
          <div>
            <table mat-table [dataSource]="simsDataSource" class="fluid">
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> NO </th>
                <td class="cell-pointer" mat-cell *matCellDef="let element" (dblclick)="updateSim(element)"> {{element.no}} </td>
              </ng-container>
              <ng-container matColumnDef="sim">
                <th mat-header-cell *matHeaderCellDef> SIM </th>
                <td class="cell-pointer" mat-cell *matCellDef="let element" (dblclick)="updateSim(element)"> {{element.sim}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
              <tr class="selected-row" matTooltip="Seleccione con doble click" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
            </table>
            <mat-paginator  [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>
          </div>
          
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" [mat-dialog-close]="null" >Salir</button>
</mat-dialog-actions>