<div class="grid-container">
  <div class="frow-container">
    <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-4-12 col-md-4-12">
        <h2 class="mat-h2">Etiquetas</h2>
      </div>
      <div class="col-sm-1-1 col-sm-5-12 col-md-6-12">
        <mat-form-field [style.fontSize.px]="12" appearance="outline" style="width: 75%;">
          <mat-label [style.fontSize.px]="14">Buscar</mat-label>
          <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
            placeholder="Ejemplo: Nombre" />
          <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
          <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
            (click)="queryValue=''; applyFilter() ">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!-- <button mat-icon-button  (click)="loadBrands()" matTooltip="Recargar marcas" >
            <mat-icon>refresh</mat-icon>
        </button> -->
      </div>
      <div class="col-sm-1-1 col-sm-3-12 col-md-2-12" style="text-align: right;">
        <button mat-flat-button color="accent" (click)="createLabel()" style="margin-right: 8px;">
          Agregar
        </button>
      </div>
    </div>
    <br>
    <div [ngStyle]="{display: labels.length > 0 ? 'block' : 'none'}">
      <table mat-table [dataSource]="dataSource" matSort class="fluid">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCION</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.type }}
          </td>
        </ng-container>
        <ng-container matColumnDef="update_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTUALIZADO</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.update_at }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ACCIONES</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" [style.fontSize.px]="12" [matMenuTriggerFor]="menu"
              aria-label="Mas opciones">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="selected-row" mat-row *matRowDef="let row; columns: displayedColumns">

        </tr>
      </table>
      <br>
      <mat-paginator [pageSizeOptions]="[25, 35, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="labels.length <= 0" style="padding: 1em;">
      <h3 class="mat-h3">No hay datos para mostrar</h3>
    </div>
  </div>
</div>