<h3 mat-dialog-title style="margin: 0;">
    <div class="frow row-start items-stretch">
        <div class="col-sm-1-2 col-md-1-2">
            <h3 class="mat-h3" style="margin-bottom: 5px;">
                <strong> {{ feature.traduction }} </strong>
            </h3>
        </div>
        <div class="col-sm-1-2 col-md-1-2" style="text-align: right;">
            <button mat-flat-button (click)="loadImages()" *ngIf="sku != '' && feature?.image == '1' && imageProps"
                matTooltip="Seleccionar imagen a cargar" [disabled]="readingFile || loading">
                <mat-icon>add_photo_alternate</mat-icon>
            </button>
            <input type="file" id="fileUpload" *ngIf="imageProps" name="fileUpload" accept="{{imageProps?.types}}"
                style="display:none;" (change)="inputChange($event.target)" />
            <button mat-flat-button (click)="updateImage()" style="margin-left: 10px;"
                matTooltip="Actualizar vista de la imagen" [disabled]="updatingPath">
                <mat-icon>update</mat-icon>
            </button>
        </div>
    </div>
</h3>
<div mat-dialog-content>
    <div *ngIf="!imageProps" style="padding: 1em 0;">
        <h3 class="mat-h3">
            Propiedades no configuradas
        </h3>
    </div>
    <div *ngIf="sku != '' && feature?.image == '1' && imageProps" style="padding: 1em 0;">
        <ul style="list-style: none; font-size: 14px; color:#e24646" [style.fontSize.px]="12">
            <li> Dimesiones: <strong>{{getComparisionImg() == 'any' ? "Todas" : "Absolutas"}}
                    [{{getDimensions()}}]</strong></li>
            <li>Tamaño maximo: {{getMaxSize()}}</li>
        </ul>
    </div>
    <div style="display: block;" *ngIf="sku != '' && feature?.image == '1'" style="padding: 1em 0;">
        <div class="frow items-stretch">
            <div class="col-xs-1-1 col-sm-1-1 col-md-1-2 col-lg-1-2">
                <mat-progress-bar *ngIf="updatingPath || readingFile || loading" mode="indeterminate">
                </mat-progress-bar>
                <div>
                    <img src="{{path}}" alt="" style="width: 75%; margin: auto; display: block;">
                </div>
            </div>
        </div>
    </div>
    <div style="display: block;" *ngIf="sku == '' || feature?.image == '0'" style="padding: 1em 0;">
        <h3 class="mat-h3">No se puede gestionar imagenes</h3>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="close()">Salir</button>
</div>