<form [formGroup]="commentForm" (ngSubmit)="close()">
    <h3 mat-dialog-title>{{ title }}</h3>
    <mat-dialog-content class="mat-typography">
        <br>
        <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Comentario</mat-label>
            <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="4"
                formControlName="commentOne"></textarea>
            <mat-error *ngIf="commentOne.errors?.required" style="padding-bottom: 5px;">
                Se requiere de un comentario
            </mat-error>
            <mat-error *ngIf="commentOne.hasError('maxlength')" style="padding-bottom: 5px;">
                Solo se acepta 100 caracteres
            </mat-error>
        </mat-form-field>
        <br>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" [mat-dialog-close]="false" cdkFocusInitial>Cancelar</button>
        <button mat-raised-button color="accent" (click)="close()" [disabled]="commentForm.invalid">Confirmar</button>
    </mat-dialog-actions>
</form>