<div style="padding: 2em 0;">

    <!-- <h2 class="mat-h2">Plan actual: <strong>{{ tmcode }}</strong></h2> -->
    <!-- <mat-card class="mat-elevation-z4" style="margin: 5px;">
        <mat-card-header>
            <mat-card-subtitle style="font-weight: bold;"> TMCODE: {{plan.tmcode}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="b-top-1 b-bottom-1" style="margin-bottom: 0; margin-bottom: 0; ">
            <mat-selection-list #shoes>
                <mat-list-option *ngFor="let p of plan.planPrices" style="height: 32px;">
                    <div class="frow row-start">
                        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2 ">
                            <p><strong>Plazo: </strong>{{ ' ' + p.term }}</p>
                        </div>
                        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2 ">
                            <p><strong>Precio: </strong>{{ ' ' + p.price }}</p>
                        </div>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </mat-card-content>
        <mat-card-actions style="text-align: right;">
            <button mat-stroked-button color="primary">Actualizar plan</button>
        </mat-card-actions>
    </mat-card> -->
   


    <!-- <h1 class="mat-h1" style="margin-top: 2em;">Planes</h1> -->
    <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
        <mat-label [style.fontSize.px]="14">Buscar</mat-label>
        <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="" />
        <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
        <a mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
            (click)="queryValue=''; applyFilter() ">
            <mat-icon>close</mat-icon>
        </a>
    </mat-form-field>
    <!-- <mat-card class="mat-elevation-z4" style="margin: 5px;" *ngFor="let pl of plans">
        <mat-card-header>
            <mat-card-subtitle style="font-weight: bold;"> TMCODE: {{pl.tmcode}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="b-bottom-1" style="margin-top: 5px; margin-bottom: 5px; ">
            <mat-list role="list" >
                <mat-list-item role="listitem" *ngFor="let p of pl.planPrices" class="selected-row" style="border-top: 1px solid #2121;">
                    <div class="frow row-start fluid" >
                        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2 ">
                            <p><strong>Plazo: </strong>{{ ' ' + p.term }}</p>
                        </div>
                        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2 ">
                            <p><strong>Precio: </strong>{{ ' ' + p.price }}</p>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>

        </mat-card-content>
        <mat-card-actions style="text-align: right;">
            <button mat-stroked-button color="primary">Seleccionar</button>
        </mat-card-actions>
    </mat-card> -->

    <mat-card class="mat-elevation-z4" style="margin: 5px;" *ngFor="let pl of plans" [ngClass]="{'bg-beige': getSelectedItems(plansOfDevice) > 0}" >
        <mat-card-header>
            <mat-card-subtitle style="font-weight: bold;"> TMCODE: {{plan.tmcode}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="b-top-1 b-bottom-1" style="margin-bottom: 0; margin-bottom: 0; ">
            <mat-selection-list #plansOfDevice>
                <mat-list-option *ngFor="let p of pl.planPrices" style="height: 32px;" [selected]="p.check">
                    <div class="frow row-start">
                        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2 ">
                            <p><strong>Plazo: </strong>{{ ' ' + p.term }}</p>
                        </div>
                        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2 ">
                            <p><strong>Precio: </strong>{{ ' ' + p.price }}</p>
                        </div>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </mat-card-content>
        <mat-card-actions style="text-align: right;">
            <button mat-raised-button color="primary">Actualizar plan</button>
        </mat-card-actions>
    </mat-card>

</div>