<h3 mat-dialog-title>Selecciona características</h3>
<div mat-dialog-content>
  <div style="display: block; margin: 1em 0;">
    <mat-progress-bar mode="indeterminate" value="40" *ngIf="viewOptions.loading"></mat-progress-bar>
    <p *ngIf=" features.length <= 0" style="display: block; text-align: center;">No se encontraron datos</p>
    <div [ngStyle]="{display: !viewOptions.loading ? 'block' : 'none'}" >
        <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
          <mat-label [style.fontSize.px]="14">Buscar característica</mat-label>
          <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="Ejemplo: peso" />
          <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
          <a mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
            (click)="queryValue=''; applyFilter() ">
            <mat-icon>close</mat-icon>
          </a>
        </mat-form-field>
      <div [ngStyle]="{display: features.data.length > 0 ? 'block' : 'none'}">
        <table mat-table [dataSource]="features" class="fluid">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td class="cell-pointer" mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="traduction">
            <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
            <td class="cell-pointer" mat-cell *matCellDef="let element"> {{element.traduction}} </td>
          </ng-container>
          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> IDENTIFICADOR </th>
            <td class="cell-pointer" mat-cell *matCellDef="let element"> {{element.text}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> DESCRIPCION </th>
            <td class="cell-pointer" mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns;"></tr>
          <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"
            (click)="selection.toggle(row)">
          </tr>
        </table>
        <mat-paginator  [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>

      </div>
      <div *ngIf="features.data.length <= 0" style="padding: 1em;">
        <h3 class="mat-h3">No hay datos para mostrar</h3>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="accent" (click)="saveFeatures()" cdkFocusInitial
    [disabled]="selection.selected.length <= 0">Agregar</button>
  <button mat-flat-button color="warn" [mat-dialog-close] >Salir</button>
</div>
