<div class="grid-container">
    <div class="frow-container">
        <h2 class="mat-h2">Propiedades </h2>
        <mat-tab-group animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">insert_photo</mat-icon>
                    Imagenes
                </ng-template>
                <ng-template matTabContent>
                    <div class="frow-container" style="padding-top: 2em; padding-bottom: 2em;">
                        <product-images-props></product-images-props>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>