<div class="grid-container">
    <div class="frow-container">
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
                <h2 class="mat-h2">Abandono de clientes</h2>
            </div>
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="text-align: right;">
                <mat-form-field appearance="outline" [style.fontSize.px]="12">
                    <mat-label>Mes y año</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)">
                    </mat-datepicker>
                </mat-form-field>
            </div> 
        </div> 
        <my-google-charts [data]="data" [options]="options" [headers]="headers" [type]="'BarChart'"></my-google-charts>
        <br>
        <br>
    </div>
</div>