<h1 mat-dialog-title>Plantilla para la categoria <strong>{{category_name}}</strong> </h1>
<div mat-dialog-content>
  <div style="display: block;  margin: 1em 0;" cdkFocusInitial>
    <mat-progress-bar mode="indeterminate" value="40" *ngIf="viewOptions.loading"></mat-progress-bar>
    <p *ngIf="!viewOptions.loading && features.length<=0" style="text-align: center;">No se encontraron datos</p>
    <div [ngStyle]="{display: !viewOptions.loading && features.length > 0 ? 'block' : 'none'}"> 
    <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
      <mat-label [style.fontSize.px]="14">Buscar</mat-label>
      <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="" />
      <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
      <a mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
        (click)="queryValue=''; applyFilter() ">
        <mat-icon>close</mat-icon>
      </a>
    </mat-form-field>

    <div>
      <table mat-table [dataSource]="featuresData" class="fluid">
        <ng-container matColumnDef="traduction">
          <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
          <td mat-cell *matCellDef="let element"> {{element.traduction}} </td>
        </ng-container>
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef> IDENTIFICADOR </th>
          <td mat-cell *matCellDef="let element"> {{element.text}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> DESCRIPCION </th>

          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="viewOptions.pageSize"></mat-paginator>
    </div>
  </div>
  </div>
</div>