<div class="grid-container">
    <div class="frow-container">
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-7-12 col-md-7-12">
                <h2 class="mat-h2">Archivos</h2>
            </div>
            <div class="col-xs-1-1 col-sm-5-12 col-md-5-12">
                <!-- <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
                    <mat-label [style.fontSize.px]="14">Versiones</mat-label>
                    <mat-select [(value)]="selectedVersion" (selectionChange)="versionChange()"
                        [disabled]="versions?.length <= 0" [class.spinner]="loadVersions">
                        <mat-option *ngFor="let version of versions" [value]="version">
                            {{version.name}}
                        </mat-option>
                    </mat-select>
                    <button mat-icon-button matSuffix [matMenuTriggerFor]="menu" matSuffix matTooltip="Opciones"
                        mat-icon-button aria-label="Menu" (click)="$event.stopPropagation();">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu>
                        <button mat-menu-item [disabled]="loadVersions" (click)="reloadVersions()">
                            <mat-icon>refresh</mat-icon>
                            <span>Actualizar</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon class="vertical-align: text-top;">
                                delete
                            </mat-icon>
                            <span>Eliminar</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon class="vertical-align: text-top;">
                                edit
                            </mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="createVersion()">
                            <mat-icon class="vertical-align: text-top;">
                                add
                            </mat-icon>
                            <span>Nueva</span>
                        </button>
                    </mat-menu>
                </mat-form-field> -->


            </div>

            <!-- <div class="col-sm-1-1 col-sm-3-12 col-md-2-12" style="text-align: right;">
                <button mat-flat-button color="accent" (click)="editFile()" style="margin-right: 8px;">
                    Agregar
                </button>
            </div> -->
        </div>
        <br>
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
                <div class="frow row-start">
                    <div class="col-sm-9-12 col-sm-9-12 col-md-9-12">
                        <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
                            <mat-label [style.fontSize.px]="14">Buscar</mat-label>
                            <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
                                placeholder="Ejemplo: Contrato" />
                            <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
                            <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                                (click)="queryValue=''; applyFilter() ">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3-12 col-sm-3-12 col-md-3-12">
                        <button mat-icon-button (click)="loadFiles()" matTooltip="Recargar archivos">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
                <button mat-flat-button color="accent" style="margin-right: 8px; float: right;" (click)="createFile()">
                    Agregar
                </button>
            </div>
        </div>
        <br>
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div [ngStyle]="{display: files.data.length > 0 && !loading ? 'block' : 'none'}">
            <table mat-table [dataSource]="files" matSort class="fluid">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCION</th>
                    <td matTooltip="{{element.description}}" class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.description }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.status }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="lastModify">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTUALIZADO</th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        {{ element.updateAt }}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td class="cell-pointer" mat-cell *matCellDef="let element">
                        <!-- <a matTooltip="Editar archivo" (click)="editFile(element)" mat-icon-button aria-label="Upload">
                <mat-icon>edit</mat-icon>
              </a> -->
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <!-- <button mat-icon-button (click)="loadingCategories()" *ngIf="node.idCategory == '-1'" matTooltip="Recargar categorías">
                <mat-icon>refresh</mat-icon>
              </button> -->
                        <mat-menu #menu>
                            <button mat-menu-item (click)="createFile(element)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span> 
                            </button>
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            <button mat-menu-item (click)="showHistoryDialog(element)">
                                <mat-icon>history</mat-icon>
                                <span>Historico de archivo</span>
                            </button>
                            
                            <button mat-menu-item >
                                <mat-icon>save_alt</mat-icon>
                                <span>Descargar archivo</span>
                            </button>
                            <!-- <button mat-menu-item >
                  <mat-icon>add</mat-icon>
                  <span>Nueva categoría</span>
                </button>
                <button *ngIf="node.idCategory !== '-1'" mat-menu-item (click)="update(node)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar categoría</span>
                </button>
                <button *ngIf="node.idCategory !== '-1'" matTooltip="" mat-menu-item
                  (click)="removeNodeCategory(node)">
                  <mat-icon style="font-size: 1.3em;">delete</mat-icon>
                  <span>Eliminar categoría</span>
                </button> -->
                        </mat-menu>
                        <!-- <a matTooltip="Eliminar marca" (click)="deleteFile(element)" mat-icon-button aria-label="Upload">
                <mat-icon>delete</mat-icon>
              </a> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['name', 'description',  'lastModify', 'actions']"></tr>
                <tr class="selected-row" mat-row
                    *matRowDef="let row; columns: ['name', 'description', 'lastModify', 'actions' ]"></tr>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[25, 35, 50]" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="files.data.length <= 0 && !loading" style="padding: 1em;">
            <h3 class="mat-h3">No hay datos para mostrar</h3>
        </div>
    </div>
</div>