<h2 mat-dialog-title>Serie: {{data.rangeNum}}</h2>
<form [formGroup]="serieForm" (ngSubmit)="save()">
  <mat-dialog-content >
    <mat-form-field appearance="outline" class="fluid" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">KEY</mat-label>
      <input matInput formControlName="key_num" placeholder="">
      <mat-error *ngIf="key_num.hasError('required')" style="padding-bottom: 5px;">
        Key es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="key_num.hasError('maxlength')" style="padding-bottom: 5px;">
        Supero 50 maximo de caracteres 
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-flat-button class="black-button" [disabled]="serieForm.invalid">Guardar</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="null" >Cancelar</button>
  </mat-dialog-actions>
</form>