<div>
  <form [formGroup]="orderForm" (ngSubmit)="onSave()">
    <mat-dialog-content>
      <div class="frow">
        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
          <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Nombre</mat-label>
            <input matInput placeholder="Nombre de cliente" formControlName="name">
            <mat-error>
              Nombre invalido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
          <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Correo</mat-label>
            <input matInput placeholder="ej@correo.com" formControlName="email">
            <mat-error>
              Correo invalido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Numero de telefono</mat-label>
        <input matInput placeholder="Telefono" formControlName="phone_number">
        <mat-error>
          Telefono invalido
        </mat-error>
      </mat-form-field>

      <div class="frow">
        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
          <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Ref Client 1</mat-label>
            <input matInput placeholder="Nombre de cliente" formControlName="ref_client_1">
            <mat-error>
              Ref1 invalido
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
          <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Ref Client 2</mat-label>
            <input matInput placeholder="Telefono" formControlName="ref_client_2">
            <mat-error>
              ref2 invalido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="frow">
        <div class="col-xs-1-1 col-sm-1-3 col-md-1-3">
          <mat-form-field appearance="outline" appearance="outline" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Departamento</mat-label>
            <mat-select  formControlName="department"
              (selectionChange)="loadTown()">
              <mat-option *ngFor="let status of departmentList" [value]="status.COD_DEPARTMENT">
                {{status.DEPARTMENT_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-1-1 col-sm-1-3 col-md-1-3">
          <mat-form-field appearance="outline" appearance="outline" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Municipio</mat-label>
            <mat-select  formControlName="town" (selectionChange)="loadVillage()"> 
              <mat-option *ngFor="let status of townsList" [value]="status.TOWN_CODE">{{status.TOWN_NAME}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-1-1 col-sm-1-3 col-md-1-3">
          <mat-form-field appearance="outline" appearance="outline" [style.fontSize.px]="12">
            <mat-label [style.fontSize.px]="14">Village</mat-label>
            <mat-select formControlName="village">
              <mat-option *ngFor="let villa of villageList" [value]="villa.VILLAGE_CODE">{{villa.VILLAGE_NAME}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Direccion</mat-label>
        <textarea matInput placeholder="Ex. 4Av zona 6 El Durazno" formControlName="address"></textarea>
      </mat-form-field>
     

      <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Tax documento</mat-label>
        <input matInput formControlName="tax_document">
      </mat-form-field>

      <mat-form-field class="fluid" appearance="outline" [style.fontSize.px]="12">
        <mat-label [style.fontSize.px]="14">Comentario</mat-label>
        <input matInput formControlName="comment">
        <mat-error * ngIf="comment"> No puede ir null</mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button [mat-dialog-close] class="black-button" type="submit" (click)="submmit()">Guardar</button>
      <button mat-flat-button [mat-dialog-close]="null" color="primary">Cancelar</button>
    </mat-dialog-actions>

  </form>
</div>