<h2 mat-dialog-title>Confirmar contraseña</h2>
<form [formGroup]="passwordForm" (ngSubmit)="passwordValidation()">
  <mat-form-field class="fluid" [style.fontSize.px]="14" appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña" type="{{passwordType}}" formControlName="password"
      [style.fontSize.px]="14">
    <mat-icon matSuffix *ngIf="password.value == ''">vpn_key</mat-icon>
    <a *ngIf="password.value != '' && passwordType == 'password'" matSuffix mat-icon-button aria-label="Clear"
      (click)="changePasswordType()">
      <mat-icon>visibility</mat-icon>
    </a>
    <a *ngIf="password.value != '' && passwordType == 'text'" matSuffix mat-icon-button aria-label="Clear"
      (click)="changePasswordType()">
      <mat-icon>visibility_off</mat-icon>
    </a>
    <mat-error *ngIf="password.errors?.required" style="padding-bottom: 5px;">
      Contraseña es requerida
    </mat-error>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-flat-button color="accent" [disabled]="passwordForm.invalid">Validar</button>
  </mat-dialog-actions>
</form>