<h2 mat-dialog-title>No. Orden: {{order.orderWcsid}}</h2>
<mat-dialog-content [style.fontSize.px]="14">
  <div class="frow row-start">
    <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
      <h3 class="mat-h3" style="margin: 0;">TELEFONO: {{order.contactTelephone}}</h3>
    </div>
    <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
      <h3 class="mat-h3" style="margin: 0;">CORREO: {{order.userEmail}}</h3>
    </div>
  </div>
  <div class="frow row-start">
    <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
      <h3 class="mat-h3" style="margin: 0;">DOCUMENTO IDENTIFICACION: {{order.personalIdentificDoc}}</h3>
    </div>
    <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
      <h3 class="mat-h3" style="margin: 0;">DIRECCION: {{order.clienteAddres}}</h3>
    </div>
  </div>

  <div class="frow row-start" style="margin-bottom: 1em;">
    <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
      <h3 class="mat-h3" style="margin: 0;">DIRECCION ENVIO: {{order.deliveryAddres}}</h3>
    </div>
    <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
      <h3 class="mat-h3" style="margin: 0;"><strong>TRANSACCION: {{order.odaOrderId}} </strong></h3>
    </div>
  </div>

  <mat-form-field appearance="outline" [style.fontSize.px]="12" class="fluid">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filter($event)" placeholder="1234" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="fluid mat-elevation-z8 table-bordered-material table-center-items">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> NOMBRE</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="paymentProduct">
      <th mat-header-cell *matHeaderCellDef>MONTO</th>
      <td mat-cell *matCellDef="let element"> {{element.paymentProduct}} </td>
    </ng-container>

    <ng-container matColumnDef="discountPrice">
      <th mat-header-cell *matHeaderCellDef>DESCUENTO</th>
      <td mat-cell *matCellDef="let element"> {{element.discountPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="simDumi">
      <th mat-header-cell *matHeaderCellDef>SIM DUMI</th>
      <td mat-cell *matCellDef="let element"> {{element.simDumi}} </td>
    </ng-container>

    <ng-container matColumnDef="inputDate">
      <th mat-header-cell *matHeaderCellDef>FECHA</th>
      <td mat-cell *matCellDef="let element"> {{element.inputDate}} </td>
    </ng-container>

    <ng-container matColumnDef="activationDate">
      <th mat-header-cell *matHeaderCellDef>FECHA ACTIVACION </th>
      <td mat-cell *matCellDef="let element"> {{element.activationDate}} </td>
    </ng-container>

    <ng-container matColumnDef="contract">
      <th mat-header-cell *matHeaderCellDef>CONTRATO</th>
      <td mat-cell *matCellDef="let element"> {{element.contract}} </td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>NO TELEFONO</th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="courtDay">
      <th mat-header-cell *matHeaderCellDef>DIA CORTE</th>
      <td mat-cell *matCellDef="let element"> {{element.courtDay}} </td>
    </ng-container>
    <ng-container matColumnDef="cycle">
      <th mat-header-cell *matHeaderCellDef>CICLO FACTURACION</th>
      <td mat-cell *matCellDef="let element"> {{element.contract}} </td>
    </ng-container>
    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef>ID CLIENTE</th>
      <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button *ngIf="element.serviceTypeId== '1' && ['PROCESADO','REPROCESADO MANUAL'].includes(order.statusTypeIdD)"
          matTooltip="Cambiar producto (SKU)" (click)="changeSKU(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
    <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close] color="primary">Salir</button>
</mat-dialog-actions>