
@import '~@angular/material/theming';

@include mat-core();

$TLBO-primary: mat-palette($mat-red);
$TLBO-accent: mat-palette($mat-grey,900);
$TLBO-warn: mat-palette($mat-red,A700);
$TLBO-theme: mat-light-theme($TLBO-primary, $TLBO-accent, $TLBO-warn);

@include angular-material-theme($TLBO-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
