/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */

*,
body {
  margin: 0;
  padding: 0;
}

.justify-start figure {
  justify-content: flex-start !important;
}

.justify-end figure {
  justify-content: flex-end !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.fluid {
  width: 100%;
}

.grid-container {
  margin: 20px;
}

.black-button {
  background-color: #212121;
  color: white;
}

.selected-row:hover {
  background-color: beige;
}

.cell-pointer:hover {
  cursor: pointer;
}

.full-width-table {
  width: 100%;
}

.hide{
  display: none;
}

.cursor-pointer:hover {
  cursor: pointer !important;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}


.pointer{
    cursor: pointer;
  }

.success-color{
  background-color: #00C853;
  }
.warn-color{
  background-color: #FFC400;
}

.success-2-color{
  background-color: #d4efdf;
}

.my-custom-steper.mat-stepper-horizontal > .mat-horizontal-stepper-header-container > .mat-step-header{
  pointer-events: none !important;
}

.my-custom-steper.mat-stepper-horizontal > .mat-horizontal-stepper-header-container > .mat-step-header  > .mat-step-label {
  font-size: 12px !important;
}

.my-custom-steper{
  background-color: transparent !important;
}


.my-header >  .mat-card-header-text{
  width: 100% !important;
  margin: 0 !important;
  padding: 14px 14px 0 14px; 
  background-color: #f44336; 
  color: white;
}


.myselected{
  background: rgb(222, 221, 221,1 );
 /*  colorgb(21, 24, 43)1b5; */
}


.border-right{
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
   padding-right: 1px !important; 
}
.border-left{
  border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.border-top{
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.text-center {
  text-align: center !important;
}


.pl-3{
  padding-left: 2px !important;
}


.trend-dialog .mat-dialog-container{
  overflow-y: hidden !important;
}

.justify-center{
  justify-content: center !important;
}


.center-mat-sort-header > .mat-sort-header-container{
  justify-content: center !important;
}

.b-top-1{
   border-top: 1px solid #2121;
}

.b-bottom-1{
  border-bottom: 1px solid #2121; 
}
 
.header-device  > .mat-card-header-text {
  width: 100%;
  margin: 0;
}

.bg-beige{
  background-color: beige;
}



.stepper-file.mat-stepper-horizontal  > .mat-horizontal-content-container{
  padding-bottom: 0 !important;
}

.search-tag > .mat-form-field-wrapper {
  padding-bottom: 1.2em !important;
}


.table-bordered-material > thead > tr > th {
  padding-left: 2px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.table-bordered-material > thead > tr > th:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.table-bordered-material > thead > tr > th  > .mat-sort-header-container {
  justify-content: center !important;
}

.table-bordered-material > tbody > tr > td {
  padding-left: 1px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.table-bordered-material > tbody > tr > td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
}


.table-center-items > tbody > tr > td {
  text-align: center;
}

.table-center-items > thead > tr > th {
  text-align: center;
}

