<div mat-dialog-title>
<div class="frow row-start">
  <div class="col-sm-1-1 col-sm-6-12 col-md-6-12">
    <h3 class="mat-h3">Serie: {{data.rangeNum}}</h3>
  </div>
  <div class="col-sm-1-1 col-sm-6-12 col-md-6-12" style="text-align: right;">
    <button mat-icon-button matTooltip="Nuevo envio" mat-icon-button (click)="newEmail()">
      <mat-icon>send</mat-icon>
    </button>
  </div> 
</div>
</div>
<mat-dialog-content>
  <div [ngStyle]="{display: emails.data.length > 0 ? 'block' : 'none'}">
    <table mat-table [dataSource]="emails" matSort class="fluid">
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CORREO</th>
        <td class="cell-pointer" mat-cell *matCellDef="let element">
          {{ element.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RESULTADO</th>
        <td class="cell-pointer" mat-cell *matCellDef="let element">
          {{ element.message }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sendDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ENVIADO</th>
        <td class="cell-pointer" mat-cell *matCellDef="let element">
          {{ element.sendDate }}
        </td>
      </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>USUARIO</th>
        <td class="cell-pointer" mat-cell *matCellDef="let element">
          {{ element.userName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="ACCION">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="cell-pointer" mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Reenviar serie" (click)="sendEmail(element)">
            <mat-icon>reply</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
      <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns"></tr>
    </table>
    <br>
    <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>
  </div>
  <div *ngIf="emails.data.length <= 0" style="padding: 1em;">
    <h4 class="mat-h4">No hay datos para mostrar</h4>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" [mat-dialog-close]="null" >Salir</button>
</mat-dialog-actions>