<h2 mat-dialog-title>Tracking: {{ trackingId }}</h2>

<mat-dialog-content [style.fontSize.px]="14">
  <div [ngStyle]="{display: dataSource.data.length > 0 ? 'block' : 'none'}">
    <!-- <div class="frow row-start">
      <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
        <h3 class="mat-h3" style="margin: 0;">FECHA: {{ dataTracking?.fecha }}</h3>
      </div>
      <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
        <h3 class="mat-h3" style="margin: 0;">HORA: {{ dataTracking?.hora }}</h3>
      </div>
    </div> -->
    <h3 class="mat-h3" style="margin: 0;">FECHA: {{ dataTracking?.fecha + ' ' +  dataTracking?.hora }}</h3>
    <h3 class="mat-h3" style="margin: 0;">DIRECCION DESTINO: {{ dataTracking?.destinatarioDireccion }}</h3>

    <mat-form-field appearance="outline" class="fluid">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="filter($event)" placeholder="" #input >
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="fluid mat-elevation-z8">

      <ng-container matColumnDef="codigoRuta">
        <th mat-header-cell *matHeaderCellDef> CODIGO RUTA </th>
        <td mat-cell *matCellDef="let element"> {{element.codigoRuta}} </td>
      </ng-container>

      <ng-container matColumnDef="movimiento">
        <th mat-header-cell *matHeaderCellDef>MOVIMIENTO</th>
        <td mat-cell *matCellDef="let element"> {{element.movimiento}} </td>
      </ng-container>

      <ng-container matColumnDef="nombreRuta">
        <th mat-header-cell *matHeaderCellDef>NOMBRE RUTA</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreRuta}} </td>
      </ng-container>

      <ng-container matColumnDef="tipoMovimiento">
        <th mat-header-cell *matHeaderCellDef>TIPO MOVIMIENTO</th>
        <td mat-cell *matCellDef="let element"> {{element.tipoMovimiento}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaHoraScan">
        <th mat-header-cell *matHeaderCellDef> FECHA/HORA</th>
        <td mat-cell *matCellDef="let element"> {{element.fechaHoraScan}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
      <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
  </div>

  <div *ngIf="dataSource.data.length <= 0" style="padding: 1em;">
    <h3 class="mat-h3">No se encontraron datos</h3>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close] color="primary">Salir</button>
</mat-dialog-actions>