<h2 mat-dialog-title>{{ (id.value== '0' ? 'Nueva ' : 'Actualizar ') }} etiqueta</h2>
<form [formGroup]="labelForm" (ngSubmit)="save()">
    <mat-dialog-content [style.fontSize.px]="12">
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                    <mat-label [style.fontSize.px]="14">Nombre</mat-label>
                    <input matInput formControlName="name" placeholder="">
                    <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
                        Nombre es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
                        Supero 254 maximo de caracteres
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                    <mat-label [style.fontSize.px]="14">Código</mat-label>
                    <input matInput formControlName="code" placeholder="">
                    <mat-error *ngIf="code.hasError('required')" style="padding-bottom: 5px;">
                        Código es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="code.hasError('maxlength')" style="padding-bottom: 5px;">
                        Supero 254 maximo de caracteres
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <!-- <mat-form-field appearance="outline" class="fluid">
                    <mat-label [style.fontSize.px]="14">Tipo</mat-label>
                    <input matInput formControlName="type" placeholder="">
                    <mat-error *ngIf="type.hasError('required')" style="padding-bottom: 5px;">
                        Tipo es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field> -->
                <mat-form-field appearance="outline" [style.fontSize.px]="12" class="fluid">
                    <mat-label [style.fontSize.px]="14">Tipo</mat-label>
                    <mat-select #_type  formControlName="type">
                        <mat-option *ngFor="let type of types" [value]="type.code">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="type.hasError('required')" style="padding-bottom: 5px;">
                        Tipo es <strong>requerido</strong>
                      </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                    <mat-label [style.fontSize.px]="14">Longitud</mat-label>
                    <input matInput formControlName="length" placeholder="">
                    <mat-error *ngIf="length.hasError('required')" style="padding-bottom: 5px;">
                        Tamaño es <strong>requerido</strong>
                    </mat-error>
                    <!-- <mat-error *ngIf="length.hasError('maxlength')" style="padding-bottom: 5px;">
                        Supero 254 maximo de caracteres
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <mat-form-field appearance="outline" class="fluid">
            <mat-label [style.fontSize.px]="14">Ejemplo</mat-label>
            <input matInput formControlName="example" placeholder="">
            <mat-error *ngIf="example.hasError('required')" style="padding-bottom: 5px;">
                Ejemplo es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="example.hasError('maxlength')" style="padding-bottom: 5px;">
                Supero 254 maximo de caracteres
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="fluid">
            <mat-label [style.fontSize.px]="14">Descripción</mat-label>
            <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8"
                formControlName="description"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button color="accent" [disabled]="labelForm.invalid">{{ id.value == '0' ? 'Guardar':
            'Actualizar' }}</button>
        <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
    </mat-dialog-actions>
</form>