<!-- <div class="grid-container">
  <br>
  <div class="frow-container">
    <mat-form-field appearance="outline" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Estado</mat-label>
      <mat-select [(ngModel)]="initialStatus" (selectionChange)="changeStatus()">
        <mat-option *ngFor="let status of StatusList" [value]="status.value">{{status.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Buscar</mat-label>
      <input matInput (keyup)="filter($event)" placeholder="Ex. 22553865398798" #input>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.fontSize.px]="12">
      <mat-label [style.fontSize.px]="14">Mes y Años</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>

    <button mat-button aria-label="Descargar" (click)="ExportTOExcel()" >
      <span class="material-icons icon-display">
        cloud_download
      </span>
    </button>
    <table mat-table #dataTable [dataSource]="dataSource" class="fluid mat-elevation-z8">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef > NOMBRE </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.deliveryAddres}}"> {{element.userName}} </td>
      </ng-container>
      <ng-container matColumnDef="deliveryAddres">
        <th mat-header-cell *matHeaderCellDef>DIR ENVIO</th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.deliveryAddres}}"> {{element.deliveryAddres}} </td>
      </ng-container>
      <ng-container matColumnDef="guia">
        <th mat-header-cell *matHeaderCellDef>GUIA</th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.deliveryAddres}}"> {{element.trackingOrder}} </td>
      </ng-container>
      <ng-container matColumnDef="idOrden">
        <th mat-header-cell *matHeaderCellDef> NO ORDEN </th>
        <td mat-cell *matCellDef="let element"> {{element.orderWcsid}} </td>
      </ng-container>
      <ng-container matColumnDef="card_auth_code">
        <th mat-header-cell *matHeaderCellDef> AUTORIZACION</th>
        <td mat-cell *matCellDef="let element"> {{element.cardAuthCode}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaEntrada">
        <th mat-header-cell *matHeaderCellDef> FECHA ENTRADA</th>
        <td mat-cell *matCellDef="let element"> {{element.inputDate}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaSalida">
        <th mat-header-cell *matHeaderCellDef> FECHA SALIDA </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> ESTADO </th>
        <td mat-cell *matCellDef="let element"> {{element.statusTypeIdD}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> TOTAL </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentCurrency}} </td>
      </ng-container>
      <ng-container matColumnDef="botones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button  color="accent" [style.fontSize.px]="12" [matMenuTriggerFor]="menu" aria-label="Mas opciones"
            [disabled]="arrayPermission.includes('edit') == false ">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" matTooltip="Ver producto">
            <a mat-menu-item 
                (click)="traking(element)">
                <mat-icon>location_on</mat-icon>
                <span>Ver tracking</span>
            </a>
            <a mat-menu-item color="primary" *ngIf="arrayPermission.includes('edit')"
                (click)="detalle(element)">
                <mat-icon>fact_check</mat-icon>
                <span>Ver detalle de la orden</span>
            </a>
            <a mat-menu-item color="primary" *ngIf="['Procesado', 'PROCESADO', 'procesado'].includes(element.statusTypeIdD) && arrayPermission.includes('edit')"
                (click)="modify(element)">
                <mat-icon>edit</mat-icon>
                <span>Editar datos de la orden</span>
            </a>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns" ></tr>
      <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;" ></tr>
    </table>
    <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons> </mat-paginator>
  </div>
</div> -->


<div class="grid-container" style="margin-top: 2.5em !important;">
  <div class="frow-container">
    <div class="frow row-end">
      <div class="col-sm-1-1 col-sm-2-12 col-md-2-12" style="text-align: right;">
        <mat-form-field appearance="outline" [style.fontSize.px]="12" class="fluid">
          <mat-label [style.fontSize.px]="14">Estado</mat-label>
          <mat-select [(ngModel)]="initialStatus" (selectionChange)="changeStatus()">
            <mat-option *ngFor="let status of StatusList" [value]="status.value">{{status.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-sm-2-12 col-md-2-12" style="text-align: right;">
        <mat-form-field appearance="outline" [style.fontSize.px]="12" class="fluid">
          <mat-label [style.fontSize.px]="14">Buscar</mat-label>
          <input matInput (keyup)="filter($event)" placeholder="Ex. 22553865398798" #input>
        </mat-form-field>
      </div>
      <div class="col-sm-1-1 col-sm-2-12 col-md-2-12" style="text-align: right;">
        <mat-form-field appearance="outline" [style.fontSize.px]="12" class="fluid" >
          <mat-label [style.fontSize.px]="14">Mes y Años</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
        
      </div>
      <div class="col-sm-1-1 col-sm-1-12 col-md-1-12" style="text-align: right;" *ngIf="dataSource?.data?.length > 0"> 
        <button mat-icon-button  matTooltip="Descargar reporte de ordenes" (click)="ExportTOExcel()"
          style="margin-left: 10px; float:right; ">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </div>
    <br>

    <table mat-table #dataTable [dataSource]="dataSource" class="fluid mat-elevation-z8 table-bordered-material table-center-items">
      <ng-container matColumnDef="odaOrderId" >
        <th mat-header-cell *matHeaderCellDef > TRANSACCION  </th>
        <td mat-cell *matCellDef="let element" > {{element.odaOrderId}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef > NOMBRE </th>
        <td mat-cell *matCellDef="let element"  > {{element.userName}} </td>
      </ng-container>
      <ng-container matColumnDef="deliveryAddres">
        <th mat-header-cell *matHeaderCellDef >DIRECCION ENVIO</th>
        <td mat-cell *matCellDef="let element"  > {{element.deliveryAddres}} </td>
      </ng-container>
      <ng-container matColumnDef="guia">
        <th mat-header-cell *matHeaderCellDef >GUIA</th>
        <td mat-cell *matCellDef="let element" > {{element.trackingOrder}} </td>
      </ng-container>
      <ng-container matColumnDef="idOrden">
        <th mat-header-cell *matHeaderCellDef > NO ORDEN </th>
        <td mat-cell *matCellDef="let element" > {{element.orderWcsid}} </td>
      </ng-container>
      <ng-container matColumnDef="card_auth_code">
        <th mat-header-cell *matHeaderCellDef > AUTORIZACION</th>
        <td mat-cell *matCellDef="let element" > {{element.cardAuthCode}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaEntrada">
        <th mat-header-cell *matHeaderCellDef > FECHA ENTRADA</th>
        <td mat-cell *matCellDef="let element" > {{element.inputDate}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="fechaSalida">
        <th mat-header-cell *matHeaderCellDef > FECHA SALIDA </th>
        <td mat-cell *matCellDef="let element" > {{element.birthDate}} </td>
      </ng-container> -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef > ESTADO </th>
        <td mat-cell *matCellDef="let element" > {{element.statusTypeIdD}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef > TOTAL </th>
        <td mat-cell *matCellDef="let element" > {{element.paymentCurrency}} </td>
      </ng-container>
      <ng-container matColumnDef="botones">
        <th mat-header-cell *matHeaderCellDef > ACCIONES</th>
        <!-- <td mat-cell *matCellDef="let element" >

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon style="font-size: 20px;">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item matTooltip="Ver tracking" (click)="traking(element)">
              <mat-icon style="font-size: 1.3em;">location_on</mat-icon>
              <span>Ver tracking</span>
            </button>
            <button mat-menu-item  matTooltip="Ver detalle de la orden" (click)="detalle(element)">
              <mat-icon style="font-size: 1.3em;">fact_check</mat-icon>
              <span>Detalle orden</span>
            </button>
            <button mat-menu-item  matTooltip="Editar datos de la orden" (click)="modify(element)"
              *ngIf="['PROCESADO','REPROCESADO MANUAL'].includes(element.statusTypeIdD)">
              <mat-icon style="font-size: 1.3em;">edit</mat-icon>
              <span>Editar orden</span>
            </button>
          </mat-menu>
        </td> -->
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button  color="accent" [style.fontSize.px]="12" [matMenuTriggerFor]="menu" aria-label="Mas opciones"
            [disabled]="arrayPermission.includes('edit') == false ">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item 
                (click)="traking(element)">
                <mat-icon>location_on</mat-icon>
                <span>Ver tracking</span>
            </button>
            <button mat-menu-item color="primary" *ngIf="arrayPermission.includes('edit')"
                (click)="detalle(element)">
                <mat-icon>fact_check</mat-icon>
                <span>Ver detalle de la orden</span>
            </button>
            <button mat-menu-item color="primary" *ngIf="['PROCESADO','REPROCESADO MANUAL'].includes(element.statusTypeIdD) && arrayPermission.includes('edit')"
                (click)="modify(element)">
                <mat-icon>edit</mat-icon>
                <span>Editar datos de la orden</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
      <tr class="selected-row" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons> </mat-paginator>
  </div>
</div>
