<h2 mat-dialog-title>{{ (id.value== '0' ? 'Nueva ' : 'Actualizar ') }} enlace</h2>
<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content [style.fontSize.px]="12">
        <mat-form-field appearance="outline" class="fluid">
            <mat-label [style.fontSize.px]="14">Nombre</mat-label>
            <input matInput formControlName="name" placeholder="">
            <mat-error *ngIf="name.hasError('required')" style="padding-bottom: 5px;">
                Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="name.hasError('maxlength')" style="padding-bottom: 5px;">
                Supero 75 maximo de caracteres
            </mat-error>
        </mat-form-field>
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                    <mat-label [style.fontSize.px]="14">Identificador</mat-label>
                    <input matInput formControlName="code" placeholder="">
                    <mat-error *ngIf="code.hasError('required')" style="padding-bottom: 5px;">
                        Identificador es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="code.hasError('maxlength')" style="padding-bottom: 5px;">
                        Supero 25 maximo de caracteres
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                    <mat-label [style.fontSize.px]="14">Valor</mat-label>
                    <input matInput formControlName="value" placeholder="">
                    <mat-error *ngIf="value.hasError('required')" style="padding-bottom: 5px;">
                        Valor es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="value.hasError('maxlength')" style="padding-bottom: 5px;">
                        Supero 75 maximo de caracteres
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
  
        <mat-form-field appearance="outline" class="fluid">
            <mat-label [style.fontSize.px]="14">Descripción</mat-label>
            <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8"
                formControlName="description"></textarea>
                <mat-error *ngIf="description.hasError('maxlength')" style="padding-bottom: 5px;">
                    Supero 125 maximo de caracteres
                </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button color="accent" [disabled]="form.invalid">{{ id.value == '0' ? 'Guardar':
            'Actualizar' }}</button>
        <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
    </mat-dialog-actions>
</form>