<div [ngClass]="{'hide': !['A','V', 'B', 'U'].includes(status)}" >
    <mat-horizontal-stepper #stepper [linear]="true" class="my-custom-steper" >
        <mat-step label="Creada" state="create" >
        </mat-step>
        <mat-step label="UAT" state="uat" >
        </mat-step>
        <mat-step label="Validada" state="validated" >
        </mat-step>
        <mat-step label="Producción" state="production" >
        </mat-step>
        
        <ng-template matStepperIcon="create">
            <mat-icon>account_tree</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="uat">
            <mat-icon>event_available</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="validated">
            <mat-icon>verified</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="production">
            <mat-icon>storefront</mat-icon>
        </ng-template>
    </mat-horizontal-stepper>
</div>