<h3 mat-dialog-title>Agrupadores</h3>
<mat-dialog-content [style.fontSize.px]="14" >
    <div style="display: block; margin: 1em 0;">
        <mat-progress-bar mode="indeterminate" value="40" *ngIf="viewOptions.loading"></mat-progress-bar>
        <p *ngIf=" groupers.length <= 0" style="display: block; text-align: center;">No se encontraron datos</p>
        <div  [ngStyle]="{display: !viewOptions.loading ? 'block' : 'none'}" >
            <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid">
              <mat-label [style.fontSize.px]="14">Buscar</mat-label>
              <input matInput [(ngModel)]="queryValue" (keyup)="applyFilter()" placeholder="" />
              <mat-icon matSuffix *ngIf="!queryValue">search</mat-icon>
              <a mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
                (click)="queryValue=''; applyFilter() ">
                <mat-icon>close</mat-icon>
              </a>
            </mat-form-field>
          <div [ngStyle]="{display: groupers.data.length > 0 ? 'block' : 'none'}">
            <table mat-table [dataSource]="groupers" class="fluid">
              <ng-container matColumnDef="grouper">
                <th mat-header-cell *matHeaderCellDef> Agrupador </th>
                <td class="cell-pointer" mat-cell *matCellDef="let element" (dblclick)="selectGrouper(element)" > {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> SKU </th>
                <td class="cell-pointer" mat-cell *matCellDef="let element" (dblclick)="selectGrouper(element)"> {{element.productSKU}} </td>
              </ng-container>
              <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef> Marca </th>
                <td class="cell-pointer" mat-cell *matCellDef="let element" (dblclick)="selectGrouper(element)"> {{element.brandName}} </td>
              </ng-container>
              <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> Producto </th>
                <td class="cell-pointer" mat-cell *matCellDef="let element" (dblclick)="selectGrouper(element)"> {{element.productName}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="viewOptions.displayedColumns"></tr>
              <tr class="selected-row" matTooltip="Seleccione con doble click" mat-row *matRowDef="let row; columns: viewOptions.displayedColumns;"></tr>
            </table>
            <mat-paginator  [pageSizeOptions]="viewOptions.pageSize" showFirstLastButtons></mat-paginator>
          </div>
          <div *ngIf="groupers.data.length <= 0" style="padding: 1em;">
            <h2>No hay datos para mostrar</h2>
          </div>
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" [mat-dialog-close]="null" >Salir</button>
</mat-dialog-actions>