<div class="frow-container " style="padding-top: 2em; padding-bottom: 1em;">
    <div>
      <div style="padding-bottom: 1.5em;">
        <h2 class="mat-h2" style="margin-bottom: 5px;">Producto: <strong>{{sku}}</strong></h2>
        <mat-divider></mat-divider>
      </div>
      <section style="padding-bottom: 1em;">
        <div class="frow row-start items-stretch">
          <div class="col-sm-1-1 col-md-1-3">
            <image-management [sku]="sku" [error]="productInfo.error" ></image-management>
          </div>
          <div class="col-sm-1-1 col-md-2-3">
            <product-detail [sku]="sku" (propagar)="propagateDataProductDetail($event)" ></product-detail>
          </div>
        </div>
      </section>
      <section style="padding-top: 3em; padding-bottom: 3.5em; min-height: 400px;">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">assignment</mat-icon>
              Caracteristicas
            </ng-template>
            <features-management [sku]="sku" [featuresData]="productInfo"></features-management>
          </mat-tab>
        </mat-tab-group>
        
      </section>
    </div>
  </div>