.grid-container {
    margin: 20px;
  }
  
  .h-100 {
    min-width: 500px;
  }
  
  .full-width-table {
    width: 100%;
  }
  
  .table-container {
    height: 300px;
    overflow: auto;
  }
  
  .selected-row:hover {
    background-color: beige;
  }
  
  .cell-pointer:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 1335px;
    margin: 0 auto;
  }
  
  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
  .grid-item {
    height: 550px;
    flex: auto;
    flex-basis: 20%;
    width: 259px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
  }
  
  @media(max-width: 1333px) {
    .grid-item {
      flex-basis: 33.33%;
    }
  }
  
  @media(max-width: 1073px) {
    .grid-item {
      flex-basis: 33.33%;
    }
  }
  
  @media(max-width: 815px) {
    .grid-item {
      flex-basis: 50%;
    }
  }
  
  
  
  
  
  img.image {
    border-radius: 0px !important;
  }
  
  .img-div {
    box-shadow: none !important;
  }
  
  tr.mat-header-row {
    height: 34px;
    background-color: rgba(0, 0, 0, .04);
  }
  
  tr.mat-row {
    height: 34px;
  }
  
  td .mat-form-field {
    padding-top: 5px;
  }
  
  .hide{
    display: none;
  }
  
  
  
  
  
  .swiper-container {
    padding-left: 5px;
    width: 100%;
    height: 90px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    /*border: 1px solid #000;*/
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  
  }
  
  .swiper-slide img {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .swiper-pagination {
    position: relative;
  }
  
  .swiper-controls {
    display: block;
    padding-top: 0.5em;
  }
  
  .swiper-pagination span {
    margin-right: 5px !important;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    display: inline-flex;
    top: 0;
    width: 0;
    height: 0;
    margin-top: 0;
  }
  
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1em;
    display: block;
  }
  
  .actions-buttons {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .actions-buttons div {
    height: 50%;
  }
  
  .actions-buttons button {
    height: 100%;
  }
  
  .actions-buttons .btn-delete-photo {
    background-color: #85707048;
    display: none;
  }
  
  .actions-buttons .btn-add-photo {
    background-color: #81626218;
  }
  
  .img-preview {
    width: 100%;
    height: 400px;
    display: none;
  }
  
  .show{
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .show {    
      display: block;
  }
  .ngxImageZoomFullContainer {
    border: none !important;
  }