<mat-toolbar color="primary" style="z-index: 99;">
  <div class="frow-container">
    <span>Tienda en Linea Back Office</span>
    <span style="flex: 1 1 auto;"></span>
  </div>
</mat-toolbar>
<div class="frow-container" style="padding-top: 2em;">
  <div class="frow">
    <div class="col-xs-1-1 col-sm-1-2 col-md-1-2">
      <div class="closing-box">
        <mat-progress-bar mode="query"></mat-progress-bar>
        <br>
        <h3 class="mat-h3">{{user}}</h3>
        <h4 class="mat-h4">Se esta cerrando tu sesión...</h4>
      </div>
    </div>
  </div>
</div>