    .breadcrumb {
        background-color: #fafafa;
        display: block;
        width: 100%;
        font-size: 0.9em;
        margin: 0;
        padding: 0.5em 1.2em;
      }
      
      span.active {
        font-weight: 400;
        color: #000 !important;
      }
      
      a,
      span {
        color: darkgrey;
      }
      
      span {
        vertical-align: middle;
      }
      
      a:hover,
      span:hover {
        color: dimgrey;
        text-decoration: none;
        cursor: pointer;
      }
      
      li {
        list-style: none;
        display: inline-block;
        margin: 5px;
      }
      
      li:last-child {
        margin-right: 20px;
      }
      