<ol class="breadcrumb"  style="background-color: #fff!important; border-bottom: 1px solid rgba(0, 0, 0, 0.12);" >
    <li *ngFor="let breadcrumb of breadcrumbs; let i= index">
      <span [routerLink]="breadcrumb.url" routerLinkActive="router-link-active" [ngClass]="{ 'active' :(breadcrumbs.length == (i+1))}">
        {{ breadcrumb.label }}
      </span>
      <span *ngIf="breadcrumbs.length > (i+1)">
        <mat-icon>
          navigate_next
        </mat-icon>
      </span> 
    </li>
  </ol>
  